/**
 * @license
 * MyFonts Webfont Build ID 2902126, 2014-10-14T18:31:34-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: RockwellStd by Monotype 
 * URL: http://www.myfonts.com/fonts/mti/rockwell/std-roman/
 * Copyright: Copyright 1990, 2002 Adobe Systems Incorporated. All Rights Reserved. Copyright 1989, 1990, 2002 The Monotype Corporation. All rights reserved.
 * Licensed pageviews: 250,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2902126
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
/* @import url("//hello.myfonts.net/count/2c486e");*/

  
@font-face {
    font-family: 'RockwellStd';
    src: url('webfonts/2C486E_0_0.eot');
    src: url('webfonts/2C486E_0_0.eot?#iefix') format('embedded-opentype'),
         url('webfonts/2C486E_0_0.woff') format('woff'),
         url('webfonts/2C486E_0_0.ttf') format('truetype');
 }
 
