/* Original Bootstrap's CSS depends on empty href attributes to
   style cursors for several components (pagination, tabs etc.). But in
   AngularJS adding empty href attributes to link tags will cause unwanted
   route changes. This is why we need to remove empty href attributes from
   directive templates and as a result styling is not applied correctly. The
   remedy is simple, just add the following styling to your application:
*/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
footer {
  text-align: center;
  font-size: $font-size-small;
  clear: both;
  overflow: hidden;
  background: transparent;
  margin: 0;
  padding: 0;
  .container {
    height: 100%;
    padding-top: 137px; }
}
label {
    margin-bottom:0;
    font-weight:normal;
    font-family: $font-family-base;
}
textarea {
    /*height:auto;*/
    resize: vertical;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a.accordion-toggle {
    outline: none;
}

// Overwrite some general bootstrap rules
.text-muted {
    color: rgba(0, 0, 0, 0.3);
}
.well {
  background-image: none;
}

// Addition to bootstrap rule
span.has-error {
  color: $brand-danger;
}

// Touch up the location dropdowns on search page and create page
// dropdown styling: event, search by name, settings, location
.dropdown-menu {
    left: auto !important;
    max-width: 450px;
    top: unset;
}
// fix bleed right!
.dropdown-menu > li > a {
    white-space: pre-wrap;
    word-wrap: break-word;

}

// Navbar
#settings-dropdown-menu > li > a,
#settings-dropdown-menu > li > span
/*
#search-by-name-form-group .uib-dropdown-menu > li > a,
#event-dropdown-menu > li > a {
*/
{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity:1.0;
}

// Create page
#create-page .row .form-group
{
    margin-top:2em;
}
.form-group label {
    display: block;
}
// Override the form-group margin for inline form on create page
#first .form-group {
    margin-right:1.5em;
}
// Override the dropdown background for the datepicker widgets
.datepicker .uib-dropdown-menu {
    background-color:#fff;
}

// Make datepicker wider to accommodate long dates in other languages (es)
@media screen and (min-width: 768px) {
  .datepicker .input-group {
    width:20em;
  }
}

#add-description {
  height:180px;
}
/* for toggles in create form */
.preference-toggle-label {
    color:#2c5573;
    font-weight:normal;
    font-size:1em;
    display:inline-block;
}
.ng-toggle-switch.true {
    background-color: #68C527;
}
.ng-toggle-switch.false {
    background-color: #ddd;
}



// Rideshare Detail page
.detail-commands { }
.detail-info {
  .highlight {
      color:inherit;
  }
}
#outer-panel > .panel-heading {
  font-size: 1.5em;
}
#search-by-name-form-group {
  .fa {
    color: $brand-primary;
  }
}
.contact-info-heading {
  font-style:italic;
}


// Home page
// image overlays on home.html
.chevron-overlay {
    position: absolute;
    font-size:2em;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    line-height:150%;
    padding: 0 10px;
    color: $navbar-inverse-link-color;
    text-align:right;
}
.event-overlay {
    position: absolute;
    font-weight:bold;
    font-size:1.5em;
    left: 0px;
    top: 0px;
    line-height:90%;
    padding: 10px 10px 0 10px;
    color: #fff;
    text-align:left;
}
.img-overlay {
    position: relative;
    margin-bottom:2em;
    /*max-width: 210px;*/
}
.featured-img {
    max-width:550px;
}
.current-img {
    max-width:360px;
}

// Event Page
// .biglink is a an <a> link block on the event_home.html page. It contains
// two span elements.
.biglink {
  display: inline-block;
  font-family: $font-family-base;
  color: #fff;
  background-color: $gray;
  border: solid 1px darken($brand-primary, 15%);
  border-radius: 5px;
  opacity: 1;
  text-decoration: none;
  font-size: 1.4em;
  text-align: left;
  padding-left: 2em;
  margin-bottom: 0.35em;
  line-height: 4em;
  width: 100%;
  height: 4em;
  &:hover {
    background-color: lighten($brand-primary, 10%);
    color: #fff;
    opacity: 1;
  }
  span {
    &:nth-of-type(1) {
      float: left;
    }
    &:nth-of-type(2) {
      float: right;
      padding-right: 1em;
    }
  }
  &:hover span:nth-of-type(2) {
    color: #fff;
  }
}
// Activity table
.activity-table {
  a { cursor: pointer; }
  .header {
    color: darken($brand-primary, 15%);
    border-bottom:none;
    text-align:center;
  }
  .row {
    border-bottom:1px solid darken($brand-primary, 15%);
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

// Search Page
img.gravatar {
    margin-right: .5em;
    border: 1px solid grey;
}

// Tweaks
// Tweak for the check marks in the Settings menu, a placeholder for when they are not checked
.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}

#mass-unit {
    //display:inline-block;
    font-decoration:none;
    //font-size:large;
    font-weight:bold;
}

/* International quotes! */
q:before { content: open-quote; }
q:after  { content: close-quote; }
*:lang(de) > * { quotes: "\201E" "\201C"; } /* German */
*:lang(en) > * { quotes: "\201C" "\201D" "\2018" "\2019"; } /* English */
*:lang(es) > * { quotes: "\00AB" "\00BB"; } /* Spanish */
*:lang(fr) > * { quotes: "\00AB\202F" "\202F\00BB" "\201C" "\201D" "\2018" "\2019"; } /* French */

