html, body, h1, .btn {
  font-family: "Open Sans";
}
/* These are for the step-by-step buttons on object create pages */
.square {
  position: relative;
  width: 0.75em;
  display: inline-block;
  margin-right: .25em;
}
.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
  font-size: 60%;
  background: $brand-primary linear-gradient(darken($brand-primary, 15%), $brand-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 button {
  margin-bottom: 20px;
}

.bg-warning {
  background-color:#f0ad4e;
}
img#bottom_left_image {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: auto;
  float: left;
  /*margin-left: 20px;*/
}
footer {
  padding-bottom:1.5em;
  position: relative;
}
#tabhead {
  background: $brand-primary linear-gradient(darken($brand-primary, 15%), $brand-primary);
  border-bottom: 1px solid darken($brand-primary, 5%);
  /* tab border */
  position: relative;
  padding-left: 20px;
  .logo {
    font-family: "Open Sans";
    font-size: 3em;
    color: #fff;
    height: 80px;
    padding-left: 5px;
    padding-top: 0;
    a {
      outline: none;
      color: #fff;
    }
    img#top_right_image {
      float: right;
      height: auto;
      margin-right: 10px;
    }
    a#top_right_logout {
      float: right;
      height: auto;
      margin-right: 10px;
    }
  }
}
#subnav {
  margin: 0;
  background: $brand-primary;
  border-bottom: 1px solid darken($brand-primary, 6.5%);
  height: 20px;
  padding-left: 20px;
}
#lawyerstuff {
  padding-top: 30px;
  padding-bottom: 10px;
}
#div_id_models.form-group {
  label, .controls {
    display: inline-block;
  }
}
#submit-id-search {
  margin-top: 25px;
}

// Extra space around buttons in certain places
.btn-container .btn {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

// but make sure the ones in btn-group are packed
.btn-group > .btn {
    margin: 0;
}

// spacing for letters in browse page
.letter_browse {
  width: 100%;
  letter-spacing: 4px;
  font-weight: 600;
  padding: 10px 5px 20px 5px;
  a:nth-of-type(1) {
    letter-spacing: 1px;
  }
}
// spacing for day names in browse page
.day_browse {
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 5px 20px 5px;
}

// Navbar
// The HTML references .navbar-inverse, so we stick with the name,
// even though it is not inverse for the directory application.
.navbar-inverse {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $brand-primary;
  font-size: 1.0em;
  box-shadow: 0 0 5px 0 $brand-primary;
  .navbar-nav > {
    li > a {
      text-shadow: none;
    }
  }
  .navbar-toggle .icon-bar {
    background-color: $brand-primary;
  }
}
.rc-nav-wizard > li > a {
  font-size: 1.2em;
}
// Configuration menu header: "Languages"
.uib-dropdown-header {
  margin-left: 5px;
}

// Improve contrast of diabled select options
option:disabled {
  color: #ddd;
}

// Make the toggle background darker for better contrast
.ng-toggle-switch {
  background-color: $gray-light;
}

// Custom checkbox code
.checkbox {
 padding-left: 20px;
 label {
   display: inline-block;
   position: relative;
   padding-left: 5px;
   &::before {
     content: "";
     display: inline-block;
     position: absolute;
     width: 17px;
     height: 17px;
     left: 0;
     margin-top: 7px;
     margin-left: -20px;
     border: 1px solid #cccccc;
     border-radius: 3px;
     background-color: #fff;
     -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
     -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
     transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
   &::after {
     display: inline-block;
     position: absolute;
     width: 16px;
     height: 16px;
     left: 0;
     top: 0;
     margin-top: 7px;
     margin-left: -20px;
     padding-left: 3px;
     padding-top: 1px;
     font-size: 11px;
     color: #555555; }
 }
 input[type="checkbox"] {
   opacity: 0;
   &:focus + label::before {
     outline: thin dotted;
     outline: 5px auto -webkit-focus-ring-color;
     outline-offset: -2px; }
   &:checked + label::after {
     font-family: 'FontAwesome';
     content: "\f00c"; }
   &:disabled + label {
     opacity: 0.65;
     & + label::before {
       background-color: #eeeeee;
       cursor: not-allowed; }
   }
  }
 &.checkbox-circle label::before {
   border-radius: 50%; }
 &.checkbox-inline {
   margin-top: 0; }
}

.checkbox-default input[type="checkbox"]:checked + label {
  &::before {
    background-color: $brand-primary;
    border-color: $brand-primary; }
  &::after {
    color: #fff; }
}

a.password-hint {
  font-size: medium;
  margin-left: 1em;
}

/*
.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #d96704;
  border-color: #d96704; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }
*/

/* 
 * similar custom radio css, not used...
.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }
*/


// Browse lists
@media screen and (min-width: 768px) {
  .list-header {
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  ul.results {
    margin-top: 30px;
  }
}

@media screen and (max-width: 375px) {
  #tabhead {
    .logo {
      font-size: 2.5em;
    }
  }
}
