// Add some different colored buttons for use on forms, with similar
// names to the standard bootstrap ones

$btn-cancel-color:		#fff !default;
$btn-cancel-bg:			darken($brand-warning, 5%) !default;
$btn-cancel-border:		darken($brand-warning, 10%) !default;

$btn-back-color:		#fff !default;
$btn-back-bg:			$gray-darker !default;
$btn-back-border:		darken($btn-back-bg, 5%) !default;

$btn-continue-color:		#fff !default;
$btn-continue-bg:		#0187a1 !default;
$btn-continue-border:		darken(#0187a1, 10%) !default;

$btn-submit-color:		#fff !default;
$btn-submit-bg:			#0187a1 !default;
$btn-submit-border:		darken(#0187a1, 10%) !default;

.btn-cancel {
  @include button-variant($btn-cancel-color, $btn-cancel-bg, $btn-cancel-border);
}
.btn-back {
  @include button-variant($btn-back-color, $btn-back-bg, $btn-back-border);
}
.btn-continue {
  @include button-variant($btn-continue-color, $btn-continue-bg, $btn-continue-border);
}
.btn-submit {
  @include button-variant($btn-continue-color, $btn-continue-bg, $btn-continue-border);
}
