// Overwrite some values for the rc-wizard

// tighten up the space under the wizard
//.rc-nav-wizard {
//    margin-bottom: 0;
//}
//.rc-nav-wizard {
//    margin-bottom:2em;
//}

//colors
//$color_mountain_mist_approx: #999;
$color_boston_blue_approx: #428bca;
$color_old_gold_approx: #d4af37;
$color_carrot_orange_approx: #ec971f;
$color_cerulean_approx: #009cd0;

.rc-nav-wizard {
  > li {
    float: left;
    font-size: 1.4em;
    font-weight: 600;
    + li {
      margin-left: 2px;
    }
    > a {
      // for the circular badges, setting left padding to 0 improves alignment
      padding-left: 0;
      border-radius: 5px;
      outline: none;
      cursor: default;
      color: $badge-bg;
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
      &:focus {
        background-color: transparent;
      }
      > .badge {
        margin-left: 3px;
        font-size: 18px;
        padding: 5px 9px;
        border-radius: 15px;
      }
    }
    &.active > a {
      color: $badge-bg;
      background-color: transparent;
      &:hover {
        color: $badge-bg;
        background-color: transparent;
      }
      &:focus {
        color: $badge-bg;
        background-color: transparent;
      }
    }
    &.success > a {
      color: $badge-bg;
      background-color: transparent;
      &:hover {
        color: $badge-bg;
        background-color: transparent;
      }
      &:focus {
        color: $badge-bg;
        background-color: transparent;
      }
    }
  }
  > {
    .active > a > .badge {
      background-color: $badge-active-color;
      color: #fff;
    }
    .success > a > .badge {
      color: #fff;
      background-color: lighten($brand-primary, 10%);
    }
  }
}
