//colors
$white: #fff;
$color_big_stone_approx: #1b3041;
$color_alto_approx: #ddd;
$gray: gray;
$green: #0f0;
$black: #000;
$color_storm_dust_approx: #666;
$color_mine_shaft_approx: #333;
$color_rock_spray_approx: #bf4904;
$color_quill_gray_approx: lightgrey;
$color_fun_blue_approx: #1a64a8;
$color_apple_blossom_approx: #a94442;
$color_celeste_approx: #ccc;
$red: #f00;
$cyan_aqua: #0ff;
$black_30: rgba(0,0,0,0.3);
$black_50: rgba(0,0,0,0.5);
$color_bahama_blue_approx: rgba(0,102,153,1);
$color_dune_approx: #393930;
$color_lemon_chiffon_approx: #fefcc9;
$color_sweet_corn_approx: #feec85;
$color_yellow_orange_approx: #ffae34;
$color_christine_approx: #ec760c;
$color_grenadier_approx: #cd4606;
$color_prairie_sand_approx: #973716;
$color_paco_approx: #451b0e;
$color_bison_hide_approx: #beb8a2;
$color_olive_haze_approx: #8c8672;
$color_san_juan_approx: #2c5573;
$color_mountain_mist_approx: #999;
$color_cerulean_approx: #009cd0;
$color_onahau_approx: #d1f1ff;
$color_ebb_approx: rgb(235, 230, 223);
$color_twine_approx: rgb(188, 153, 88);
$color_twine_90_approx: rgba(188, 153, 88, 0.901961);
$color_tundora_approx: #444;
$color_black_60_approx: rgba(1,1,1,0.6);
$color_sisal_approx: rgba(219, 205, 177, 1);
$color_heath_40_approx: rgba(79, 16, 16, 0.4);
$color_regent_st_blue_approx: lightblue;
$color_lima_approx: #68c527;
$color_white_linen_approx: rgb(247, 242, 235);
$color_gun_powder_approx: #445;
$color_santas_gray_approx: #99a;
$color_scarpa_flow_approx: #556;
$color_log_cabin_approx: #232323;
$color_alabaster_approx: #fbfbfb;
$color_carrot_orange_approx: #ec961f;
$color_gray_nurse_approx: #eaeaea;

//urls
$brc-map-url: url("/static/rideshare_frontend/img/brc-map-footer.png");


//original selectors
//span .clickable, div .clickable
//%extend_3 {
	//position: absolute;
	//width: 100%;
	//height: 100%;
	//top: 0;
	//left: 0;
	//z-index: 1;
//}

//original selectors
//h3, h4
//%extend_4 {
	//margin-top: 10px;
//}

header {
	width: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	a.gohome {
		position: absolute;
		outline: none;
		top: 0;
		width: 100%;
		z-index: 20;
		display: block;
		background: rgba(1,1,1,0.6);
	}
}
footer {
  height: 400px;
  color: #fff; 
  h3, a {
    color: #fff; }
  a {
    &:link {
	color: #fff; }
    &:visited {
	color: #fff; }
  }
  background-color: $brand-primary;
  .map-bg {
    background: $brc-map-url 50% 20px no-repeat; }
  input[type="text"] {
     border-radius: 0;
     width: 315px !important;
     margin-right: 10px; }
  input[type="submit"] {
     color: #fff;
     background: none;
     border: 0;
     margin: 5px;
     padding: 0;
     cursor: pointer; }
}

h3 {
	//@extend %extend_4;
	a {
		&:link {
			text-decoration: none;
			color: $color-dkbrown;
		}
		&:hover {
			text-shadow: 0 0 7px $white;
		}
	}
	> span {
		color: $color-dkbrown;
	}
	&.panel-title {
		color: $color-dkbrown;
	}
}
h4 {
	//@extend %extend_4;
	font-size: 1.7em;
}

// overrides _base
.biglink {
    background-color: $color-dkbrown;
}


// Pagination
//@extend-elements
//original selectors
//.pagination >li >a, .pagination >li >span
//%extend_1 {
//	background-color: $btn-default-bg;
//	border: 1px solid darken($btn-default-bg, 20%);
//}
//.pagination {
//	> li {
//		> a {
//			@extend %extend_1;
//		}
//		> span {
//			@extend %extend_1;
//		}
//                .disabled {
//	            background-color: lighten($btn-default-bg, 10%);
//	            color: lighten($text-color, 15%);
//	            border: 1px solid darken($btn-default-bg, 20%);
//                }
//	}
//	> .active {
//		> a {
//			background-color: $color_big_stone_approx;
//			border-color: $color_big_stone_approx;
//			&:hover {
//				background-color: $color_big_stone_approx;
//				border-color: $color_big_stone_approx;
//			}
//			&:focus {
//				background-color: $color_big_stone_approx;
//				border-color: $color_big_stone_approx;
//			}
//		}
//		> span {
//			background-color: $color_big_stone_approx;
//			border-color: $color_big_stone_approx;
//			&:hover {
//				background-color: $color_big_stone_approx;
//				border-color: $color_big_stone_approx;
//			}
//			&:focus {
//				background-color: $color_big_stone_approx;
//				border-color: $color_big_stone_approx;
//			}
//		}
//	}
//}
.intl-tel-input {
	width: 100%;
}
#contact-message {
	height: 60px;
}
#add-description {
	height: 180px;
}
.tofrom {
	font-size: 1.5em;
}
#event-name {
	font-size: 1.5em;
	font-weight: 600;
}
.search-page-large {
	font-size: large;
}
.loading-icon {
	width: 15px;
	display: inline;
}
.loading {
	color: $white;
	font-weight: bold;
}
#numPassengers {
	width: 160px;
}
//#message-table {
//}
#login-holder {
	display: none;
	z-index: 10;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
#login-form {
	margin: 10px;
}
.description-wrap {
	white-space: pre-wrap;
}
//.first {
//	border-top-left-radius: 5px;
//	border-top-right-radius: 5px;
//}
//.last {
//	border-bottom-left-radius: 5px;
//	border-bottom-right-radius: 5px;
//	border-bottom: 1px solid $color_celeste_approx;
//}
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px $black_30;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px $black_50;
	&:window-inactive {
	}
}
.alert-outer {
	position: relative;
	width: 60%;
	height: 50%;
	left: 40%;
	top: 55%;
}
.alert-inner {
	position: absolute;
	top: 50%;
	height: 10em;
	margin-top: -5em;
}
#welcome {
	margin-top: 0;
}
//label.btn, button.btn {
	//color: $text-color;
//}
.whitepage {
	//background-color: $white;
	margin-bottom: 2em;
	padding-bottom: 1em;
}
//@media(min-width: 767px) {
	//.event-header-col {
		//padding: 0;
	//}
//}
#detail-page {
	.whitepage {
		padding-top: 15px;
	}
	#outer-panel {
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 4px 4px 8px $color_mountain_mist_approx;
	}
}
#search-filter {
	.row {
		margin-bottom: 1em;
	}
	.active {
		background-color: $brand-active;
		color: $white;
	}
//	label {
//		display: block;
//	}
}
#search-results-list {
	.list-group-item {
		padding-left: 0;
	}
}
#main {
	//min-height: 100%;
	//height: auto !important;
	//height: 100%;
	//margin: 0 auto -4em;
	background-image: linear-gradient($color_ebb_approx 0, $color_twine_90_approx 97%, $color_twine_approx 100%);
	//color: $color_dkbrown;
	padding-bottom: 8em;
}

.input-group-addon {
	color: $brand-active;
	background-color: $btn-default-bg;
	border: none;
	height: 24px;
}

.navbar-inverse {
	border-radius: 0;
	font-family: $font-family-serif;
	font-weight: normal;
	font-size: 1.2em;
	box-shadow: 0 0 20px 0;
}
::-ms-tooltip {
	display: none;
}
.tooltip-inner {
	max-width: 350px;
	min-width: 150px;
}
.contact-info-heading {
	font-style: italic;
}
.center-block {
	float: none;
}
#add-preferences {
	display: block;
}
.preference-toggle-label {
	color: $color_san_juan_approx;
	font-weight: normal;
	font-size: 1em;
	display: inline-block;
}
.ng-toggle-switch {
	&.true {
		background-color: $brand-success;
	}
	&.false {
		background-color: $brand-danger;
	}
}
.top-buffer {
	margin-top: 2em;
}
//#Header {
//	background: $color_white_linen_approx;
//	margin: 0 auto;
//}
//#Footer {
//	max-width: 1000px;
//	margin: 0 auto;
//	padding: 0;
//}
.bg-image-wrapper {
	margin: auto;
	background-color: $color_big_stone_approx;
	background-size: 80px 140px;
	background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
	background-image: -webkit-linear-gradient(60deg, $color_gun_powder_approx 12%, transparent 12.5%, transparent 87%, $color_gun_powder_approx 87.5%, $color_gun_powder_approx), -webkit-linear-gradient(-60deg, $color_gun_powder_approx 12%, transparent 12.5%, transparent 87%, $color_gun_powder_approx 87.5%, $color_gun_powder_approx), -webkit-linear-gradient(60deg, $color_gun_powder_approx 12%, transparent 12.5%, transparent 87%, $color_gun_powder_approx 87.5%, $color_gun_powder_approx), -webkit-linear-gradient(-60deg, $color_gun_powder_approx 12%, transparent 12.5%, transparent 87%, $color_gun_powder_approx 87.5%, $color_gun_powder_approx), -webkit-linear-gradient(30deg, $color_santas_gray_approx 25%, transparent 25.5%, transparent 75%, $color_santas_gray_approx 75%, $color_santas_gray_approx), -webkit-linear-gradient(30deg, $color_santas_gray_approx 25%, transparent 25.5%, transparent 75%, $color_santas_gray_approx 75%, $color_santas_gray_approx);
	background-image: -moz-linear-gradient(60deg, $color_gun_powder_approx 12%, transparent 12.5%, transparent 87%, $color_gun_powder_approx 87.5%, $color_gun_powder_approx), -moz-linear-gradient(-60deg, $color_gun_powder_approx 12%, transparent 12.5%, transparent 87%, $color_gun_powder_approx 87.5%, $color_gun_powder_approx), -moz-linear-gradient(60deg, $color_gun_powder_approx 12%, transparent 12.5%, transparent 87%, $color_gun_powder_approx 87.5%, $color_gun_powder_approx), -moz-linear-gradient(-60deg, $color_gun_powder_approx 12%, transparent 12.5%, transparent 87%, $color_gun_powder_approx 87.5%, $color_gun_powder_approx), -moz-linear-gradient(30deg, $color_santas_gray_approx 25%, transparent 25.5%, transparent 75%, $color_santas_gray_approx 75%, $color_santas_gray_approx), -moz-linear-gradient(30deg, $color_santas_gray_approx 25%, transparent 25.5%, transparent 75%, $color_santas_gray_approx 75%, $color_santas_gray_approx);
	background-image: linear-gradient(30deg, $color_gun_powder_approx 12%, transparent 12.5%, transparent 87%, $color_gun_powder_approx 87.5%, $color_gun_powder_approx) 0 0, linear-gradient(150deg, $color_gun_powder_approx 12%, transparent 12.5%, transparent 87%, $color_gun_powder_approx 87.5%, $color_gun_powder_approx) 0 0, linear-gradient(30deg, $color_gun_powder_approx 12%, transparent 12.5%, transparent 87%, $color_gun_powder_approx 87.5%, $color_gun_powder_approx) 40px 70px, linear-gradient(150deg, $color_gun_powder_approx 12%, transparent 12.5%, transparent 87%, $color_gun_powder_approx 87.5%, $color_gun_powder_approx) 40px 70px, linear-gradient(60deg, $color_santas_gray_approx 25%, transparent 25.5%, transparent 75%, $color_santas_gray_approx 75%, $color_santas_gray_approx) 0 0, linear-gradient(60deg, $color_santas_gray_approx 25%, transparent 25.5%, transparent 75%, $color_santas_gray_approx 75%, $color_santas_gray_approx) 40px 70px / 80px 140px;
	-pie-background: linear-gradient(30deg, $color_gun_powder_approx 12%, transparent 12.5%, transparent 87%, $color_gun_powder_approx 87.5%, $color_gun_powder_approx) 0 0 / 80px 140px, linear-gradient(150deg, $color_gun_powder_approx 12%, transparent 12.5%, transparent 87%, $color_gun_powder_approx 87.5%, $color_gun_powder_approx) 0 0 / 80px 140px, linear-gradient(30deg, $color_gun_powder_approx 12%, transparent 12.5%, transparent 87%, $color_gun_powder_approx 87.5%, $color_gun_powder_approx) 40px 70px / 80px 140px, linear-gradient(150deg, $color_gun_powder_approx 12%, transparent 12.5%, transparent 87%, $color_gun_powder_approx 87.5%, $color_gun_powder_approx) 40px 70px / 80px 140px, linear-gradient(60deg, $color_santas_gray_approx 25%, transparent 25.5%, transparent 75%, $color_santas_gray_approx 75%, $color_santas_gray_approx) 0 0 / 80px 140px, linear-gradient(60deg, $color_santas_gray_approx 25%, transparent 25.5%, transparent 75%, $color_santas_gray_approx 75%, $color_santas_gray_approx) 40px 70px / 80px 140px, $color_scarpa_flow_approx;
}
.bg-image {
	width: 100%;
	position: relative;
	z-index: 15;
	background-color: $color_white_linen_approx;
}
.event-home-background {
	background-size: 100%;
}
.event-home-background-inside {
	padding-top: 37%;
}
#emblem {
	position: absolute;
	top: 55px;
	height: 100%;
	width: 100%;
	text-align: center;
	z-index: 25;
	div {
		position: relative;
		height: 100%;
		width: auto;
	}
	img {
		height: 70%;
		width: auto;
	}
	a {
		outline: none;
	}
}
.section-title {
	text-align: center;
	color: $white;
	text-shadow: 2px 2px 2px $color_log_cabin_approx;
	width: 100%;
	display: block;
	position: absolute;
	top: 50px;
	z-index: 5;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
@media only screen and(max-width: 40.063em) {
	.map-bg {
		display: none;
	}
}
@media only screen and(min-width: 40.063em) {
	// Align the navbar buttons with the left page margin
	.navbar-nav {
		margin-left: -35px;
	}
	.section-title {
		top: 62px;
	}
}
@media only screen and(min-width: 64.063em) {
	.section-title {
		top: 90px;
	}
}
@media only screen and(min-width: 90.063em) {
	.section-title {
		top: 130px;
	}
}
#top-parent-title {
	font-size: 60px;
}
.activity-table {
	.header {
		font-weight: normal;
		color: $color_san_juan_approx;
		border-bottom: none;
		text-align: center;
	}
	.row {
		border-bottom: 1px solid $brand-active;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.well {
		padding-top: 5px;
		margin-top: 10px;
	}
}
#search-form-advanced {
	margin-top: 0;
	padding-top: 0;
}
#detail-messages {
	.panel {
		border: none;
		span {
			display:inline-block;
			margin: 5px 0 1px 0;
			width: 100%;
		}
		div>i {
			margin-left: 2px;
		}
	}
	.panel-body {
		border: 1px solid $color_sisal;
	}
	.panel-group {
		//border: 1px solid $color_dkbrown;
	}
	.panel-default {
		>.panel-heading {
			color: $brand-active;
			background-color: transparent;
			background-image: none;
			border: none;
			padding: 0;
		}
		h4 {
			font-size: 10pt;
		}
	}
	.panel-title {
		color: $brand-active;
		background-color: #fff;
		>a {
			width:100%;
		}
	}
	.panel-open .panel-title {
		background-color: lighten($color_sisal, 15%);
		border-top: 1px solid $color_sisal;
		border-left: 1px solid $color_sisal;
		border-right: 1px solid $color_sisal;

	}
}
//#detail-commands {
//}
#send-message {
	box-shadow: 4px 4px 8px $color_mountain_mist_approx;
}
//.btn-group {
//}
.email-message {
	.row {
		margin-bottom: 1mm;
	}
	.email-column-1 {
		background-color: lighten($color-sisal, 15%);
		margin-left: 1mm;
	}
}
.description {
	margin-top: 10px;
	a {
		font-weight: bold;
	}
}
//p.bg-info {
//	padding: 5px;
//	margin-top: 5px;
//	margin-bottom: 5px;
//	font-weight: bold;
//	color: $color_mine_shaft_approx;
//	-webkit-border-radius: $border-radius-base;
//	-moz-border-radius: $border-radius-base;
//	border-radius: $border-radius-base;
//}
.form-inline .row {
	margin-top: 10px;
	margin-bottom: 10px;
	div {
		margin-left: 5px;
	}
}
.panel span {
	margin-right: 5px;
}
//span .clickable {
	//@extend %extend_3;
//}
//.flames a:hover {
//	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
//	text-shadow: 0 0 2px $color_lemon_chiffon_approx, 2px -2px 4px $color_sweet_corn_approx, -2px -2px 6px $color_yellow_orange_approx, 4px -4px 8px $color_christine_approx, -4px -6px 10px $color_grenadier_approx, 0 -8px 14px $color_prairie_sand_approx, 6px -9px 20px $color_paco_approx;
//}
#search-page .filter-btn {
	margin-top: .6em;
	margin-bottom: .4em;
}
#create-page .row .form-group {
	margin-top: 2em;
}
//.contact-info-quote i {
//	font-size: large;
//	color: $color_heath_40_approx;
//}

// General styling for bootstrap dropdowns
.dropdown-menu {
	outline: none;
	color: #fff;
	z-index: 15;
	> li {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		opacity: 1;
		a:hover, a:focus {
		    background-color: $brand-active;
                    background-image: linear-gradient(to bottom, lighten($brand-active, 12%) 0%, darken($brand-active, 7%) 100%);
		}
	}
        > .active > a,
        > .active > a:hover,
        > .active > a:focus {
	    background-color: $brand-active;
            background-image: linear-gradient(to bottom, lighten($brand-active, 12%) 0%, darken($brand-active, 7%) 100%);
	}
}
// Slightly different in the navbar
nav .dropdown-menu {
	> li {
		> span {
			.glyphicon {
				color: $brand-active;
			}
		}
	}
	> li[role="presentation"] {
		margin-left: 0.6em;
	}
}
#search-by-name-form-group {
    .dropdown-menu {
        min-width: 345px;
        > li {
            border-bottom: 1px solid lighten($brand-primary, 26%);
            > a {
	        white-space: nowrap;
	        overflow: hidden;
	        text-overflow: ellipsis;
            }
        }
        > li:last-item {
            border-bottom: none;
        }
    }
}

// Slightly different for the typeahead on the create page
.custom-popup-wrapper {
    position: absolute;
    z-index: 15;
    > .dropdown-menu {
        position: static;
    }
}

//.custom-popup-wrapper > .message {
//padding: 10px 20px;
//border-bottom: 1px solid #ddd;
//color: #868686;
//}
//.custom-popup-wrapper > .dropdown-menu {
//position: static;
//float: none;
//display: block;
//min-width: 160px;
//background-color: transparent;
//border: 1px solid gray;
//border-radius: 0;
//box-shadow: none;
//}

//#search-by-name-form-group .dropdown-menu > li > a {
	//color: $color_regent_st_blue_approx;
	//white-space: nowrap;
	//overflow: hidden;
	//text-overflow: ellipsis;
	//opacity: 1;
//}
//#add-going label {
//	display: block;
//}
//.form-group label {
//	display: block;
//}
#logo-wrapper img {
	width: 300px;
	margin: 6px auto 2px;
	border: 0;
}
img.divider {
	margin-top: 5px;
}

// .bootstrap-select.btn-group .dropdown-menu li a:hover {
//     color: #fff !important;
//     background: #bf5279 !important;
// }

.btn {
	text-transform: uppercase;
}
.btn-default {
	text-shadow: none;
}

a#mass-unit {
    color: $brand-active;
    &:hover {
        color: darken($brand-active, 15%);
        
    }
}
