/* Angular slider directive
 * https://prajwalkman.github.io/angular-slider/
 */

// colors
// uses $brand-primary and $gray-light, plus these
$silver: #c0c0c0;
$color_stack_approx: #8d8d8d;
$color_dodger_blue_approx: #13b6ff;
$color_cerulean_approx: #00a8f3;
$white: #fff;
$black: #000;

// fonts
// set font size of the numbers
$slider-font-family: sans-serif;
$slider-font-size: 1em;
$bubble-standoff: -27px;

slider {
  display: inline-block;
  position: relative;
  height: 7px;
  width: 200px;
  margin: 25px 5px;
  vertical-align: middle;
  span {
    white-space: nowrap;
    position: absolute;
    display: inline-block;
    &.base {
      width: 100%;
      height: 100%;
      padding: 0;
    }
    &.bar {
      width: 100%;
      height: 100%;
      z-index: 0;
      border-radius: 1em/1em;
      background: linear-gradient(top, $silver 0, $color_stack_approx 100%);
      box-shadow: inset 2px 2px 5px;
      &.selection {
        width: 0;
        z-index: 1;
        background: linear-gradient(top, $color_dodger_blue_approx 0, $color_cerulean_approx 100%);
        box-shadow: none;
      }
    }
    &.pointer {
      cursor: pointer;
      width: 20px;
      height: 20px;
      top: -8px;
      background-color: $white;
      border: 1px solid $black;
      z-index: 2;
      border-radius: 1em/1em;
      &:after {
        content: '';
        background-color: $brand-primary;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 6px;
        left: 6px;
        border-radius: 1em/1em;
      }
      &:hover:after {
        background-color: $black;
      }
      &.active:after {
        background-color: lighten($brand-primary, 20%);
      }
    }
    &.bubble {
      cursor: default;
      top: $bubble-standoff;
      padding: 1px 3px;
      font-size: $slider-font-size;
      font-family: $slider-font-family;
      &.selection {
        top: 15px;
      }
      &.limit {
        color: $gray-light;
      }
    }
  }
}
