<footer class="hidden-xs" role="">
    <div class="map-bg">
      <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <form role="form" method="get" id="searchform" class="form-inline" action="https://burningman.org/">
                    <div class="form-group">
                        <label for="s" class="sr-only">Search form</label>
                        <input tabindex="-1" type="text" name="s" id="s" class="form-control" placeholder="I am lost in a dust storm!" />
                        <i class="fa fa-search"></i><input tabindex="-1" type="submit" value="Search" class="">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                    <h3 class="text-center" >Stuff &amp; Things</h3>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right">
                    <ul class="list-unstyled">
                        <li><a tabindex="-1" href="https://burningman.org/network/about-us/">About Us</a></li>
                        <li><a tabindex="-1" href="https://burningman.org/timeline">Timeline</a></li>
                        <li><a tabindex="-1" href="https://donate.burningman.org">Donate</a></li>
                        <li><a tabindex="-1" href="https://burningman.org/network/get-involved/connect-with-burners" >Connect</a></li>
                        <li><a tabindex="-1" href="https://help.burningman.org/">Help & FAQ</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 text-left">
                    <ul class="list-unstyled">
                        <li><a tabindex="-1" href="http://galleries.burningman.org">Galleries</a></li>
                        <li><a tabindex="-1" href="https://profiles.burningman.com">Burner Profiles</a></li>
                        <li><a tabindex="-1" href="https://spark.burningman.org">Spark Collaboration</a></li>
                        <li><a tabindex="-1" href="https://eplaya.burningman.com">ePlaya</a></li>                      
                        <li><a tabindex="-1" href="https://marketplace.burningman.com">Marketplace</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 small">
                <div class="row">
                    <div class="col-sm-6 text-right" >
                        <ul class="list-unstyled">
                            <li><a tabindex="-1" href="https://burningman.org/privacy-policy/">legal</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 text-left" >
                        <ul class="list-unstyled">
                            <li><a tabindex="-1" href="https://burningman.org/credits/">credits</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 text-center" >
                        <p>&copy;1989&ndash;{% now "Y" %} burning man project</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</footer>
