{% extends "base.html" %}
{% block head_title %}Rideshare{% endblock %}
{% block angular_init %}ng-app="rideshares" ng-strict-di{% endblock %}
{% block extra_head %}
  {% autoescape off %}
  <script type="text/preloaded">
  {{ preload_json }}
  </script>
  {% endautoescape %}
{% endblock %}

{% block body %}
  {% verbatim %}
    <div ui-view="header"></div>
    <div id="main">
        <div ui-view class="page {{ pageClass }}" autoscroll="false"></div>
        <ng-include src="modal"></ng-include>
        <div class="push"></div>
    </div>
  {% endverbatim %}
{% endblock %}
{% block extra_body %}
{% endblock %}
