<link href="/static/rideshare_frontend/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen,projection" />
<link href="/static/rideshare_frontend/fonts/MyFontsWebfontsKit.css" rel="stylesheet" type="text/css" media="screen,projection" />
<link href="/static/rideshare_frontend/fonts/OpenSans.css" rel="stylesheet" type="text/css" media="screen,projection" />
<link href="/static/rideshare_frontend/css/rideshare.css" rel="stylesheet" type="text/css" media="screen,projection" />
