<!DOCTYPE html>
<html {% block angular_init %}{% endblock %} >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
<meta http-equiv="PRAGMA" content="NO-CACHE">
<title>Burning Man {% block head_title %}{% endblock %}</title>
<!--[if IE]><style>
div {
zoom: 1; /* trigger hasLayout */
}
</style><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
{% include "_favicon.html" %}
{% include "_css.html" %}
{% block extra_head %}{% endblock %}
{% include "_google_analytics.html" %}
  <base href="/">
</head>

<body auth-application class="{% block body_class %}{% endblock %}">
  {% block body %}
  {% endblock %}
  {% include "rideshare_frontend/_footer.html" %}
  {% block extra_body %}
  {% endblock %}
  {% include "_js.html" %}
</body>
</html>
