    <div class="row header">
        <div class="col-xs-12">
            <span translate>ACTIVITY</span> <a ng-click="main.swapToFrom()" id="tofrom" name="tofrom"> (<span translate>{{main.formParams.tofrom.activity_key}}</span>)</a>
        </div>
    </div>

    <div class="row small">
        <div class="col-xs-3 col-xs-offset-2">
            <a ng-click="main.activity.searchOffers()" translate>OFFERS</a>
        </div>
        <div class="col-xs-3">
            <a ng-click="main.activity.searchRequests()" translate>REQUESTS</a>
        </div>
        <div class="col-xs-3">
            <span translate>FILLED</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <a ng-click="main.activity.searchCars()"><i class="fa fa-car"></i></a>
        </div>
        <div class="col-xs-3">
            <a ng-click="main.activity.searchCarOffers()">
                <span ng-if="main.formParams.tofrom.key == 'TO'">{{main.rideStats.direction.to.offers | number}}</span>
                <span ng-if="main.formParams.tofrom.key == 'FROM'">{{main.rideStats.direction.from.offers | number}}</span>
            </a>
        </div>
        <div class="col-xs-3">
            <a ng-click="main.activity.searchCarRequests()">
                <span ng-if="main.formParams.tofrom.key == 'TO'">{{main.rideStats.direction.to.requests | number}}</span>
                <span ng-if="main.formParams.tofrom.key == 'FROM'">{{main.rideStats.direction.from.requests | number}}</span>
            </a>
        </div>
        <div class="col-xs-3">
            {{main.rideStats.filled | number}}
        </div>
    </div>
    <div ng-show="main.event.airport" class="row">
        <div class="col-xs-2">
            <a ng-click="main.activity.searchPlanes()"><i class="fa fa-plane"></i></a>
        </div>
        <div class="col-xs-3">
            <a ng-click="main.activity.searchPlaneOffers()">
                <span ng-if="main.formParams.tofrom.key == 'TO'">{{main.flightStats.direction.to.offers | number}}</span>
                <span ng-if="main.formParams.tofrom.key == 'FROM'">{{main.flightStats.direction.from.offers | number}}</span>
            </a>
        </div>
        <div class="col-xs-3">
            <a ng-click="main.activity.searchPlaneRequests()">
                <span ng-if="main.formParams.tofrom.key == 'TO'">{{main.flightStats.direction.to.requests | number}}</span>
                <span ng-if="main.formParams.tofrom.key == 'FROM'">{{main.flightStats.direction.from.requests | number}}</span>
            </a>
        </div>
        <div class="col-xs-3">
            {{main.flightStats.filled | number}}
        </div>
    </div>
