<table id="aggregate-table" class="table">
    <caption translate>ACTIVITY</caption>
    <tr><th></th><th translate>OFFERS</th><th translate>REQUESTS</th><th translate>FILLED</th></tr>
    <tr ng-if="main.rideshareStats.length >= 1 && main.rf == '' || main.rf == 'r'">
        <td>
            <!--<a ng-if="main.rf == ''" ng-href="#{{nav.currentPath}}/r/">-->
                <!--<i class="fa fa-car"></i>-->
            <!--</a>-->
            <span ng-if="main.rf != ''">
                <i class="fa fa-car"></i>
            </span>
        </td>
        <td>{{main.rideshareStats[0].offers}}</td>
        <td>{{main.rideshareStats[0].requests}}</td>
        <td>{{main.rideshareStats[0].filled}}</td>
    </tr>
    <tr ng-if="main.flightshareStats.length >= 1 && main.rf == '' || main.rf == 'f'">
        <td>
            <!--<a ng-if="main.rf == ''" ng-href="#{{nav.currentPath}}/f/">-->
                <!--<i class="fa fa-plane"></i>-->
            <!--</a>-->
            <span ng-if="nav.rf != ''">
                <i class="fa fa-plane"></i>
            </span>
        </td>
        <td>{{main.flightshareStats[0].offers}}</td>
        <td>{{main.flightshareStats[0].requests}}</td>
        <td>{{main.flightshareStats[0].filled}}</td>
    </tr>
</table>
