<div class="modal-header">
    <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><span translate>CONTACT</span> <span class="orange">{{main.rideshare.contact_name}}</span></h3>
</div>
<form role="form" name="form" novalidate class="contactForm">
    <div class="modal-body">
        <div class="form-group">
            <label class="" for="fullname"><span translate>NAME *</span> <span class="has-error" ng-show="form.fullname.$invalid && !form.fullname.$pristine"><i class="fa fa-exclamation-triangle"></i> {{'MODAL_REQUIRED'|translate}}</span></label>
            <input autofocus class="form-control" ng-required="true" name="fullname" id="fullname" ng-model="main.contactFormParams.contact_name" placeholder="{{'MY_NAME'|translate}}">
        </div>

        <div class="form-group">
            <label class="" for="email"><span translate>EMAIL *</span> <span class="has-error" ng-show="form.email.$invalid && !form.email.$pristine"><i class="fa fa-exclamation-triangle"></i> {{'VALID_EMAIL_REQUIRED'|translate}}</span></label>
            <input class="form-control" ng-model-options="{'debounce':2000}" type="email" id="email" required name="email" ng-model="main.contactFormParams.contact_email" placeholder="{{'MY_EMAIL'|translate}}">
        </div>

        <div class="form-group">
            <label class="" for="phone"><span translate>PHONE</span> <span class="has-error" ng-show="form.phone.$invalid && !form.phone.$pristine"><i class="fa fa-exclamation-triangle"></i> {{'MODAL_REQUIRED'|translate}}</span></label>
            <input international-phone-number
                   preferred-countries="us"
                   default-country="us"
                   national-mode="true"
                   utils-script="/static/bower_components/intl-tel-input/lib/libphonenumber/build/utils.js"
                   responsive-dropdown="true"
                   class="form-control"
                   type="phone"
                   id="phone"
                   name="phone"
                   type="tel"
                   ng-model-options="{'debounce':1500}"
                   ng-model="main.contactFormParams.contact_phone"
                    />
            <span class="help-block"></span>

        </div>

        <div class="form-group">
            <label for="info" translate>CONTACT_INFO</label>
            <textarea id="info"
                      name="info"
                      ng-model="main.contactFormParams.contact_info"
                      class="form-control"
                      placeholder="{{'CONTACT_INFO_PLACEHOLDER' | translate}}">
            </textarea>
            <span class="help-block"></span>
        </div>
        <div class="form-group">
            <label for="contact-message"><span translate>MESSAGE *</span> <span class="has-error" ng-show="form.message.$invalid && !form.message.$pristine"><i class="fa fa-exclamation-triangle"></i> {{'MODAL_REQUIRED'|translate}}</span></label>
            <textarea id="contact-message"
                      name="message"
                      ng-required="true"
                      ng-model="main.contactFormParams.message"
                      class="form-control"
                      placeholder=""
                      rows="13">
            </textarea>
         </div>
    </div>
    <!--<div style="font-size: 16px; margin-left:20px;">-->
        <!--<style>-->
            <!--.pristine.true, .dirty.true, .invalid.true {-->
                <!--background: gray;-->
            <!--}-->
            <!--.valid.false {-->
                <!--background: red;-->
            <!--}-->
            <!--.valid.true {-->
                <!--background: green;-->
            <!--}-->
            <!--.error {-->
                <!--color: red;-->
            <!--}-->
            <!--table td {-->
                <!--border:1px darkgray solid;-->
                <!--margin:2px;-->
                <!--padding:2px;-->
                <!--width:5em;-->
            <!--}-->
            <!--table th {-->
                <!--text-align: center;-->
            <!--}-->
        <!--</style>-->
        <!--<table>-->
            <!--<tr>-->
                <!--<th></th>-->
                <!--<th>$pristine</th>-->
                <!--<th>$dirty</th>-->
                <!--<th>$valid</th>-->
                <!--<th>$invalid</th>-->

            <!--</tr>-->
            <!--<tr ng-repeat="field in ['fullname','email', 'phone', 'info', 'message'] ">-->
                <!--<td>{{field}}</td>-->
                <!--<td ng-class="getClass(form[field].$pristine)" class="pristine"></td>-->
                <!--<td ng-class="getClass(form[field].$dirty)" class="dirty"></td>-->
                <!--<td ng-class="getClass(form[field].$valid)" class="valid"></td>-->
                <!--<td ng-class="getClass(form[field].$invalid)" class="invalid"></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>form</td>-->
                <!--<td ng-class="getClass(form.$pristine)" class="pristine"></td>-->
                <!--<td ng-class="getClass(form.$dirty)" class="dirty"></td>-->
                <!--<td ng-class="getClass(form.$valid)" class="valid"></td>-->
                <!--<td ng-class="getClass(form.$invalid)" class="invalid"></td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary pull-left" ng-click="close(main.contactFormParams)" data-dismiss="modal" aria-hidden="true"
           ng-disabled="form.$invalid || form.$pristine || form.$valid != true"><span class="fa fa-send"></span> <span translate>SEND</span></button>
        <a class="btn btn-default pull-left" ng-click="close()" data-dismiss="modal" aria-hidden="true" translate>CANCEL</a>
    </div>
</form>
