<!--<div class="modal" style="display:block" ng-controller="DeleteController">
    <div class="modal-dialog modal-md">
        <div class="modal-content">-->
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 translate>DELETE</h3>
            </div>
            <div class="modal-body">
                <p><strong translate>DELETE_MSG_HEADER</strong></p>
                <h3>{{main.rideshare.name}}</h3>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger pull-left" ng-click="close({{main.rideshare}})"><span class="glyphicon glyphicon-remove"></span> <span translate>DELETE</span></button>
                <button class="btn btn-default pull-left" ng-click="close()" data-dismiss="modal" aria-hidden="true" translate>CANCEL</button>
            </div>
        </div><!--
    </div>
</div>
-->
