<div class="modal" style="display:block" ng-controller="FeedbackController">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 ng-hide="main.apiResponse" translate>SENDING</h3>
                <h3 ng-show="main.apiResponse" ng-class="{'text-success':main.apiResponse.success, 'text-danger':!main.apiResponse.success}" translate>{{main.apiResponse.headerKey}}</h3>
            </div>
            <div class="modal-body">
                <p ng-show="main.apiResponse"
                   ng-class="{'alert alert-success':main.apiResponse.success, 'alert alert-danger':!main.apiResponse.success}"
                   translate="{{main.apiResponse.messageKey}}"
                   translate-values="{OPERATION: '{{main.apiResponse.operation}}'}"
                   translate-interpolation="messageformat"></p>
            </div>
        </div>
    </div>
</div>
