<div class="modal" style="display:block" ng-controller="FilledController">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 translate>FILLED</h3>
            </div>
            <div ng-show="!main.rideshare.full" class="modal-body">
                <p><strong translate>FILLED_MSG_HEADER</strong></p>
                <h3 class="orange">{{main.rideshare.name}}</h3>
                <p translate>FILLED_MSG_TEXT</p>
            </div>
            <div ng-show="main.rideshare.full" class="modal-body">
                <p><strong translate>UNFILLED_MSG_HEADER</strong></p>
                <h3 class="orange">{{main.rideshare.name}}</h3>
                <p translate>UNFILLED_MSG_TEXT</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary pull-left" ng-click="close(true)" data-dismiss="modal" aria-hidden="true" ng-disabled="form.$invalid || isUnchanged(contactFormParams)"><span class="fa fa-check"></span> <span translate>OK</span></button>
                <button class="btn btn-default pull-left" ng-click="close()" data-dismiss="modal" aria-hidden="true" translate>CANCEL</button>
            </div>
        </div>
    </div>
</div>
