<div class="login-container"><div id="login-form" ng-switch on="main.rs.event.auth_type.name" class="panel panel-default">
    <div class="panel-heading">Login {{main.rs.event.name}} ({{main.rs.event.auth_type.name}} authentication)</div>
        <div class="panel-body">
            <form ng-switch-when="django" class='form-inline' role='form' ng-submit="submit()">
                <div class='row'>
                    <div class='form-group'>
                        <label class='sr-only' for='username'>Username</label>
                        <input class='form-control' id='username' type='text' placeholder='Username' ng-model='login.username'>
                    </div>
                    <div class='form-group'>
                        <label class='sr-only' for='password'>Password</label>
                        <input class='form-control' id='password' type='password' placeholder='Password' ng-model='login.password'>
                    </div>
                    <div class='form-group'>
                        <input class='btn btn-default' type='submit'>
                    </div>
                    <div class='form-group'>
                        <input class='btn btn-default' type='button' ng-click='cancel()'value='Cancel'>
                    </div>
                </div>
            </form>
            <form ng-switch-when="oauth" class='form-inline' role='form' ng-submit="submit()">
                <div class='row'>
                    <div class='form-group'>
                        <label class='sr-only' for='username'>Username</label>
                        <input class='form-control' id='username' type='text' placeholder='Username' ng-model='login.username'>
                    </div>
                    <div class='form-group'>
                        <label class='sr-only' for='password'>Password</label>
                        <input class='form-control' id='password' type='password' placeholder='Password' ng-model='login.password'>
                    </div>
                    <div class='form-group'>
                        <input class='btn btn-default' type='submit'>
                    </div>
                    <div class='form-group'>
                        <input class='btn btn-default' type='button' ng-click='cancel()'value='Cancel'>
                    </div>
                </div>
            </form>
            <form ng-switch-when="playa" class='form-inline' role='form' ng-submit="submit()">
                <div class='row'>
                    <div class='form-group'>
                        <h3 id="hint"><span class="text-muted">Hint:</span> {{main.rs.password_hint}}</h3>
                    </div>
                </div>
                <div class='row'>
                    <div class='form-group'>
                        <label class='sr-only' for='password'>Password</label>
                        <input class='form-control' id='password' type='password' placeholder='Password' ng-model='login.password'>
                    </div>
                    <div class='form-group'>
                        <input class='btn btn-primary' type='submit'>
                    </div>
                    <div class='form-group'>
                        <input class='btn btn-warning' type='button' ng-click='cancel()'value='Cancel'>
                    </div>
                </div>
            </form>
            <div><p class="text-danger"><strong>{{login.error}}</strong></p></div>
        </div>
    </div>
</div>