<div class="modal-header">
    <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 translate>LOGIN</h3>
</div>
<form class='form-horizontal' role='form' ng-submit="close(login)" novalidate>
    <div class="modal-body">
        <div ng-switch on="main.rideshare.event.auth_type.name">
            <div ng-switch-when="django">
                <div class='form-group'>
                    <label class='col-xs-3 control-label' for='username' translate>USERNAME</label>
                    <div class="col-xs-9">
                        <input class='form-control' id='username' type='text' autofocus placeholder="{{'USERNAME'|translate}}" ng-model='login.username'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-xs-3 control-label' for='password' translate>PASSWORD</label>
                    <div class="col-xs-9">
                        <input class='form-control' id='password' type='password' placeholder="{{'PASSWORD'|translate}}" ng-model='login.password'>
                    </div>
                </div>
            </div>
            <div ng-switch-when="oauth">
                <div class='form-group'>
                    <label class='col-xs-3 control-label' for='username' translate>USERNAME</label>
                    <div class="col-xs-9">
                        <input class='form-control' id='username' type='text' autofocus placeholder="{{'USERNAME'|translate}}" ng-model='login.username'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-xs-3 control-label' for='password' translate>PASSWORD</label>
                    <div class="col-xs-9">
                        <input class='form-control' id='password' type='password' placeholder="{{'PASSWORD'|translate}}" ng-model='login.password'>
                    </div>
                </div>
            </div>
            <div ng-switch-when="playa">
                <div class='form-group'>
                    <label class='col-xs-3 control-label text-muted' for='hint' translate>HINT</label>
                    <div class="col-xs-9 form-control-static">
                        <p id="hint">{{main.rideshare.password_hint}}</p>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-xs-3 control-label' for='password' translate>PASSWORD</label>
                    <div class="col-xs-9">
                        <input class='form-control' id='password' type='password' autofocus="on" placeholder="{{'PASSWORD'|translate}}" ng-model='login.password'>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class='col-xs-3 control-label text-muted' for="error"></label>
                <div class="col-xs-9 form-control-static">
                    <strong><p id="error" class="text-danger" translate="{{login.error}}"></p></strong>
                </div>
            </div>
        </div>
    <div class="modal-footer">
        <button class='btn btn-primary pull-left' type='button' data-dismiss="modal" ng-click="close(login)" translate>SUBMIT</button>
        <button class='btn btn-default pull-left' type='button' data-dismiss="modal" ng-click='close()'value='Cancel' translate>CANCEL</button>
    </div>
    </div>
</form>
