<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse" id="main-menu-collapse" ng-class="{collapse: navCollapsed}">
                    <ul id="navigation-tabs" class="nav navbar-nav">
                        <li role="presentation" name="homeButton" id="homeButton" class=""><a ui-sref="home">{{ 'HOME' | translate }}</a></li>
                        <li ng-show="pageClass!='page-home' && main.event" role="presentation"><a ui-sref="search({slug:main.event.slug})" translate>SEARCH</a></li>
                        <li ng-show="pageClass!='page-home' && main.event" role="presentation"><a ui-sref="create({slug:main.event.slug})" translate>CREATE</a></li>
                        <li class="uib-dropdown" ng-show="!main.event" uib-dropdown >
                            <a class="uib-dropdown-toggle" uib-dropdown-toggle role="button" aria-expanded="false"><span translate>CHOOSE_AN_EVENT</span> <i class="caret"></i></a>
                            <ul id="event-dropdown-menu" class="uib-dropdown-menu" role="menu" >
                                <li role="menuitem" ng-repeat="event in main.region.event_set"><a href="/api" ui-sref="event({slug: event.slug})">{{event.name}}</a></li>
                            </ul>
                        </li>
                    </ul>
                   <!-- <script>
                        $('ul.dropdown-menu.li.a').on('click', function(event){
                            event.stopPropagation();
                        });
                    </script>-->
                    <ul class="nav navbar-nav navbar-right small" >
                        <li><form role="search" name="findRideshareForm" id="findRideshareForm" novalidate class="nav navbar-form navbar-right">
                            <div id="search-by-name-form-group" class="form-group">
                                <div class="input-group smaller">
                                    <input class="form-control"
                                           id="findRideshare"
                                           required
                                           tabindex="-1"
                                           ng-model="search.rideshare"
                                           uib-typeahead="rs as rs.content_auto for rs in getRideshare($viewValue) | limitTo:30 | filter:$viewValue "
                                           typeahead-loading="loadingRideshares"
                                           typeahead-editable="false"
                                           typeahead-min-length="3"
                                           typeahead-wait-ms="0"
                                           placeholder="{{'SEARCH_BY_NAME' | translate}}">
                                    <span class="input-group-addon"><i ng-class="{'fa fa-search':!loadingRideshares, 'fa fa-refresh fa-spin':loadingRideshares}"></i></span>
                                    <!--<span class="input-group-addon"><i ng-show="!loadingRideshares" class="fa fa-search"></i><i ng-show="loadingRideshares" class="fa fa-refresh fa-spin"></i></span>-->
                                </div>
                            </div>
                        </form>
                        </li>
                        <li uib-dropdown><a href="#" role="presentation" class="uib-dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                            <span translate>SETTINGS</span> <span class="caret"></span></a>
                            <ul id="settings-dropdown-menu" class="uib-dropdown-menu" role="menu" uib-dropdown >
                                <!--<li ng-click="main.preferredDistanceUnit = 'km'"><span><i ng-class="{'glyphicon': true, 'glyphicon-ok': main.preferredDistanceUnit=='km', 'glyphicon-none': main.preferredDistanceUnit!='km'} "></i> {{'KILOMETERS' | translate}}</span></span></li>-->
                                <!--<li ng-click="main.preferredDistanceUnit = 'mi'"><span><i ng-class="{'glyphicon': true, 'glyphicon-ok': main.preferredDistanceUnit=='mi', 'glyphicon-none': main.preferredDistanceUnit!='mi'} "></i> {{'MILES' | translate}}</span></li>-->
                                <li role="presentation" class="uib-dropdown-header" ng-bind-html="'LANGUAGES'|translate">S</li>
				<li class="menuitem" ng-click="$emit('changeLanguage', 'en')"><span><i ng-class="{'glyphicon': true, 'glyphicon-ok': main.preferredLanguage=='en', 'glyphicon-none': main.preferredLanguage!='en'} "></i> <span ng-bind-html="'BUTTON_LANG_EN'|translate"></span></span></li>
				<li class="menuitem" ng-click="$emit('changeLanguage', 'fr')"><span><i ng-class="{'glyphicon': true, 'glyphicon-ok': main.preferredLanguage=='fr', 'glyphicon-none': main.preferredLanguage!='fr'} "></i> <span ng-bind-html="'BUTTON_LANG_FR'|translate"></span></span></li>
				<li class="menuitem" ng-click="$emit('changeLanguage', 'es')"><span><i ng-class="{'glyphicon': true, 'glyphicon-ok': main.preferredLanguage=='es', 'glyphicon-none': main.preferredLanguage!='es'} "></i> <span ng-bind-html="'BUTTON_LANG_ES'|translate"></span></span></li>
                            </ul>
                        </li>
                        <li role="presentation"><a ui-sref="faq" translate>FAQ</a></li>
                        <li role="presentation" id="helpButton"><a ui-sref="help" translate>HELP</a></li>
                    </ul>
        </div>
    </div>
</nav>

