<script type="text/ng-template" id="customPopupTemplate.html">
  <div class="custom-popup-wrapper"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
    <ul class="dropdown-menu" style="display:inherit" role="listbox">
      <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index)}"
        ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
    </ul>
  </div>
</script>
<navbar current-tab="Create"></navbar>
<div class="container">
    <div ng-show="main.event" class="row">
        <div class="col-xs-12  event-header-col">
            <div event-link event="main.event"></div>
        </div>
    </div>
    <div id="create-page" class="row whitepage">
        <div class="col-xs-12">
        <h4><span ng-show="editing" translate>EDIT_RIDESHARE</span><span ng-hide="editing" translate>CREATE</span></h4>
        <hr />
        <div class="row" ng-show="expired">
            <div class="col-xs-12">
                <uib-alert ng-show="editing"><span translate>LISTING_EXPIRED</span></uib-alert>
                <uib-alert ng-hide="editing"><span translate>EVENT_EXPIRED</span></uib-alert>
            </div>
        </div>
        <div ng-hide="expired" class="row">
                <div class="col-xs-12">
                    <div rc-wizard="addWizard" rc-disabled="rc.firstForm.submitInProgress">
                        <ul class="nav nav-pills rc-nav-wizard">
                            <li class="active">
                                <a tabindex="-1" class="active" ng-href="#first" data-toggle="tab">
                                    <span class="badge">1</span>
                                    <span translate>DESCRIPTION</span>
                                </a>
                            </li>
                            <li>
                                <a tabindex="-1" ng-href="#second" data-toggle="tab">
                                    <span class="badge">2</span>
                                    <span translate>DETAILS</span>
                                </a>
                            </li>
                            <li>
                                <a tabindex="-1" ng-href="#third" data-toggle="tab">
                                    <span class="badge">3</span>
                                    <span translate>CONTACT</span>
                                </a>
                            </li>
                            <li>
                                <a tabindex="-1" ng-href="#last" data-toggle="tab">
                                    <span class="badge">4</span>
                                    <span translate>SUBMIT</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <form class="tab-pane active" id="first" name="firstForm" autocomplete="on" rc-submit="saveState()" rc-step novalidate>
                                <div class="row form-inline" id="add-going">
                                    <div class="col-sm-12">
                                        <div ng-if="main.event.airport" class="form-group">
                                            <label for="flight_id"><span translate>VEHICLE</span></label>
                                            <div id="flight_id" class="btn-group">
                                                <label ng-repeat="opt in main.realOptions.flightOptions" class="btn btn-default" ng-model="rs.flight" uib-btn-radio="{{opt}}"><span ng-class="{'fa fa-plane':opt.key=='YES', 'fa fa-car':opt.key=='NO'}"></span></label>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.rideType)}">
                                            <label class="control-label" for="rideType">{{'RIDE_TYPE'|translate}}&nbsp;<sup><a tabindex="-1" class="fa fa-info-circle" tooltip-animation="true" uib-tooltip="{{'RIDE_TYPE_TIP'|translate}}"></a></sup></label>
                                            <select class="form-control" name="rideType" required  id="rideType" data-ng-model="rs.rtype" ng-options="opt as opt.key | translate for opt in main.realOptions.rideTypeOptions track by opt.id"></select>
                                        </div>
                                        <div class="form-group">
						<label class="control-label">{{'DIRECTION'|translate}}</label>
                                            <select ng-style="" class="form-control dropdown-toggle" ng-options="opt as opt.key | translate for opt in main.realOptions.tofromOptions track by opt.id"
                                                    ng-model="rs.direction">
                                            </select>
					</div>
                                        <div class="form-group">
						<label class="control-label">&nbsp;</label>
                                            <span class="form-control-static" id="event-name">{{rs.event.name}}</span>
                                            <span class="form-control-static tofrom">{{rs.direction.reverse_key|translate}}</span>
                                        </div>
                                        <div id="location-dropdown-group" class="form-group" ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.location)}">

                                            <label ng-switch="useAirport"  class="control-label">
                                                <span ng-switch-when="false" translate>CITY</span>
                                                <span ng-switch-when="true" translate>AIRPORT</span>
                                                <span class="loading-icon"> <i ng-show="loadingLocations" class="fa fa-refresh fa-spin"></i></span>
                                                <span ng-show="rc.firstForm.needsAttention(firstForm.location)"><i class="fa fa-exclamation-triangle"></i> {{'REQUIRED'|translate}}</span>
                                            </label>
                                            <input class="form-control"
                                                   autocomplete="off"
                                                   autofocus="on"
                                                   required
                                                   ng-model="rs.location"
                                                   name="location"
                                                   id="location"
                                                   uib-typeahead="loc as loc.text for loc in getLocation($viewValue) | filter:$viewValue"
                                                   typeahead-loading="loadingLocations"
                                                   typeahead-editable="false"
                                                   typeahead-min-length="3"
                                                   typeahead-wait-ms="0"
                                                   typeahead-popup-template-url="customPopupTemplate.html"
                                                   placeholder="{{rs.direction.locationPlaceholder | translate}}"/>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" translate>ITINERARY</label>
                                            <select class="form-control dropdown-toggle" data-ng-options="opt as opt.key | translate for opt in main.realOptions.roundTripOptions track by opt.id"
                                                    data-ng-model="rs.round_trip">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-inline ">
                                    <div class="col-sm-12">
                                        <div class="form-group" ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.fullname)}">
                                            <label class="control-label" for="name">{{'LISTING_TITLE' | translate}} <span ng-show="rc.firstForm.needsAttention(firstForm.fullname)"><i class="fa fa-exclamation-triangle"></i> {{'REQUIRED'|translate}}</span></label>
                                            <input class="form-control" maxlength="50" required multiple id="name" name="fullname" ng-model="rs.name" placeholder="{{'LISTING_TITLE_PLACEHOLDER' | translate}}">
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.ride)}">
                                            <label class="control-label" for="ride">{{'PASSENGERS'|translate}}&nbsp;<sup><a tabindex="-1" class="fa fa-info-circle" tooltip-animation="true" uib-tooltip="{{'PASSENGERS_CREATE_TIP'|translate}}"></a></sup></label>
                                            <select class="form-control" name="ride" required  id="ride" data-ng-model="rs.ride" ng-options="opt as opt.key | translate for opt in main.realOptions.rideOptions track by opt.id"></select>
                                        </div>
                                        <div ng-show="rs.ride.name == 'Yes'" class="form-group" ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.riders)}">
                                            <label class="control-label" for="riders-input">{{'HOW_MANY'| translate}} <span ng-show="rc.firstForm.needsAttention(firstForm.riders)"><i class="fa fa-exclamation-triangle"></i> {{'REQUIRED'|translate}}</span></label>
                                            <input placeholder="?" integer type="number" ng-required="rs.ride.key=='YES'" min="1" max="20" ng-max-length="2" class="form-control col-md-1"  name="riders" id="riders-input" ng-model="rs.riders">
                                        </div>
                                        <div ng-hide="rs.flight.key == 'YES'" class="form-group" ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.hauling)}">
                                            <label class="control-label" for="hauling">{{'HAULING'|translate}}&nbsp;<sup><a tabindex="-1" class="fa fa-info-circle" tooltip-animation="true" uib-tooltip="{{'HAULING_TIP'|translate}}"></a></sup></label>
                                            <select class="form-control" name="hauling" required  id="hauling" data-ng-model="rs.hauling" ng-options="opt as opt.key | translate for opt in main.realOptions.haulingOptions track by opt.id"></select>
                                        </div>
                                        <div ng-show="rs.flight.key == 'YES' && rs.rtype.key == 'OFFER'" class="form-group" ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.rbweight)}">
                                            <label class="control-label" for="rbweight">{{'BAGGAGE_WEIGHT'|translate}}&nbsp;<span ng-show="rc.firstForm.needsAttention(firstForm.rbweight)"><i class="fa fa-exclamation-triangle"></i> {{'REQUIRED'|translate}}</span><sup><a tabindex="-1" class="fa fa-info-circle" tooltip-animation="true" uib-tooltip="{{'BAGGAGE_WEIGHT_TIP'|translate}}"></a></sup></label>
                                            <input metric-input preferred-unit="{{main.preferredMassUnit}}" class="form-control" type="number" min="0" max="5000" id="rbweight" name="rbweight" ng-required="rs.flight.key == 'YES' && rs.rtype.key == 'OFFER'" ng-model="rs.riders_baggage_weight" placeholder="{{'BAGGAGE_WEIGHT_PLACEHOLDER'|translate}}"/><span class="form-control-static">&nbsp;<a id="mass-unit" tabindex="-1" ng-click="main.preferredMassUnit = main.preferredMassUnit == 'lbs' ? 'kg' : 'lbs'">{{main.preferredMassUnit}}</a></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-inline ">
                                    <div class="col-sm-12">
                                        <div class="form-group datepicker" ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.earliestDeparture)}">
						<label class="control-label">{{'DEPART'|translate}}&nbsp;<span ng-show="rc.firstForm.needsAttention(firstForm.earliestDeparture)"><i class="fa fa-exclamation-triangle"></i> {{'REQUIRED'|translate}}</span></label>
                                            <p class="input-group">
                                                <input class="form-control"
						       uib-datepicker-popup="{{main.dateFormat}}"
                                                       is-open="datepicker.dd.opened"
                                                       ng-model="rs.earliest_departure"
                                                       name="earliestDeparture"
                                                       ng-required="true"
                                                       starting-day="0"
                                                       min-date="datepicker.dd.minDate"
                                                       max-date="datepicker.dd.maxDate"
                                                       /><span class="input-group-btn">
                                                                <button class="btn btn-default" ng-click="datepicker.dd.open($event)"><i
                                                                        class="glyphicon glyphicon-calendar"></i></button></span>
                                            </p>
                                        </div>
                                        <div class="form-group datepicker" ng-show="rs.round_trip.id == 1" ng-class="{'has-error': rc.firstForm.needsAttention(firstForm.earliestReturn)}">
					    <label class="control-label">{{'RETURN'|translate}}&nbsp;<span ng-show="rc.firstForm.needsAttention(firstForm.earliestReturn)"><i class="fa fa-exclamation-triangle"></i> {{'REQUIRED'|translate}}</span></label>
                                            <p class="input-group">
                                                <input class="form-control"
                                                       is-open="datepicker.rd.opened"
                                                       uib-datepicker-popup="{{main.dateFormat}}"
                                                       ng-model="rs.earliest_return"
                                                       name="earliestReturn"
                                                       show-weeks="false"
                                                       ng-required="rs.round_trip.key=='YES'"
                                                       starting-day="0"
                                                       min-date="rs.earliest_departure"
                                                       max-date="datepicker.rd.maxDate"
                                                       show-button-bar="false"
                                                        /><span class="input-group-btn">
                                                                <button class="btn btn-default" ng-click="datepicker.rd.open($event)"><i
                                                                        class="glyphicon glyphicon-calendar"></i></button></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        <!--</div>-->
                        <form class="tab-pane" id="second" name="secondForm" novalidate autocomplete="on" rc-submit rc-step>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.description)}">
                                        <label class="control-label" for="add-description">{{'DESCRIPTION'|translate}} <span ng-show="rc.secondForm.needsAttention(secondForm.description)"><i class="fa fa-exclamation-triangle"></i> {{'REQUIRED' | translate }}</span></label>
                                        <textarea id="add-description"
                                                  name="description"
                                                  autofocus="on"
                                                  required
                                                  ng-model="rs.description"
                                                  placeholder="{{'DESCRIPTION_PLACEHOLDER' | translate}}">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label id="add-preferences" translate>PREFERENCES</label>
                                        <!-- hard-code colors here for tri-toggle, see css for standard toggle -->
                                        <ng-toggle tri-toggle ng-model="smokingPref" id="smoking_id"
                                               ng-height="20"
                                               ng-false-color="#a10602"
                                               ng-true-color="#68C527"
                                               ng-null-color="#777"
                                               style="display:inline-block"
                                               >
                                        </ng-toggle><span class="preference-toggle-label"> {{"SMOKING" | translate}}&hellip; {{main.smokingOptions[smokingPref].yesOrNoKey | translate}}</span>
                                    </div>
                                    <div class="form-group">
                                        <ng-toggle
                                            ng-model="accommodateDisabled"
                                            ng-height="20"
                                            id="disabled_id"></ng-toggle><span class="preference-toggle-label"> <i class="fa fa-wheelchair"></i> {{"DISABLED" | translate }}</span>
                                    </div>
                                    <div class="form-group">
                                        <ng-toggle
                                            ng-required="true"
                                            min="1"
                                            name="openminded"
                                            ng-height="20"
                                            ng-model="openMinded"
                                            id="openminded_id"></ng-toggle><span class="preference-toggle-label"> <span ng-class="{'has-error': rc.secondForm.needsAttention(secondForm.openminded)}"><i class="fa fa-smile-o"></i> {{"OPEN_MINDED" | translate }} <i ng-show="rc.secondForm.needsAttention(secondForm.openminded)" class="fa fa-exclamation-triangle"></i> {{'REQUIRED' | translate }}</span></span>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <form class="tab-pane" id="third" name="thirdForm" novalidate autocomplete="on" rc-submit rc-step >
                            <div class="row">
                                <!--<div id="contact">-->
                                <div class="col-sm-12">
                                    <div class="row">
                                            <div class="form-group col-sm-2" ng-class="{'has-error': rc.thirdForm.needsAttention(thirdForm.contact_name)}">
                                                <label class="control-label" for="contact_name">{{'NAME' | translate}} <span ng-show="rc.thirdForm.needsAttention(thirdForm.contact_name)"><i class="fa fa-exclamation-triangle"></i> {{'REQUIRED' | translate }}</span></label>
                                                <input class="form-control" autocomplete="name" required id="contact_name" name="contact_name" ng-model="rs.contact_name" placeholder="{{'MY_NAME'|translate}}"/>
                                            </div>
                                            <div class="form-group col-sm-2" ng-class="{'has-error': rc.thirdForm.needsAttention(thirdForm.contact_email)}">
                                                <label class="control-label" for="contact_email">{{'EMAIL' | translate}} <span ng-show="rc.thirdForm.needsAttention(thirdForm.contact_email)"><i class="fa fa-exclamation-triangle"></i> {{'REQUIRED' | translate }}</span></label>
                                                <input class="form-control" ng-model-options="{'debounce':2000}" autocomplete="email" type="email" required id="contact_email" name="contact_email" ng-model="rs.contact_email" placeholder="{{'MY_EMAIL'|translate}}"/>
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label class="control-label" for="contact_phone"><span translate>PHONE</span> <span class="has-error" ng-show="rc.thirdForm.needsAttention(thirdForm.contact_phone)"><i class="fa fa-exclamation-triangle"></i> {{'REQUIRED'|translate}}</span></label>
                                                <input international-phone-number
                                                       preferred-countries="us"
                                                       allow-extensions="false"
                                                       default-country="us"
                                                       national-mode="true"
                                                       utils-script="/static/bower_components/intl-tel-input/lib/libphonenumber/build/utils.js"
                                                       responsive-dropdown="true"
                                                       class="form-control"
                                                       id="contact_phone"
                                                       name="contact_phone"
                                                       type="tel"
                                                       autocomplete="tel"
                                                       ng-model-options="{'debounce':1500}"
                                                       ng-model="rs.contact_phone"
                                                        />
                                            </div>
                                            <div class="form-group col-sm-1">
                                                <label class="control-label" for="sms-notify">SMS&nbsp;<sup><a tabindex="-1" class="fa fa-info-circle" tooltip-animation="true" uib-tooltip="{{'SMS_TIP'|translate}}"></a></sup></label>
                                                <input class="form-control" ng-disabled="!thirdForm.contact_phone.$modelValue || thirdForm.contact_phone.$invalid" type="checkbox" id="sms-notify" ng-model="rs.sms_notify"/>
                                                <!--<checkbox class="form-control" ng-disabled="!thirdForm.contact_phone.$modelValue || thirdForm.contact_phone.$invalid" type="checkbox" id="sms-notify" ng-model="rs.sms_notify"></checkbox>-->

                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label class="control-label" for="contact_info" translate>PUBLIC_CONTACT_INFO</label>
                                                <textarea id="contact_info"
                                                          placeholder="{{'PUBLIC_CONTACT_INFO_PLACEHOLDER' | translate}}"
                                                          ng-model="rs.contact_info">
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!--</div>-->
                            <div class="row">
                                <!--<div id="auth">-->
                                    <div class="form-group col-sm-3" ng-class="{'has-error': rc.thirdForm.needsAttention(thirdForm.password)}">
                                        <label class="control-label" for="password">{{'PASSWORD' | translate}} <sup><a tabindex="-1" class="fa fa-info-circle" tooltip-animation="true" uib-tooltip="{{'PASSWORD_TIP'|translate}}"></a></sup> <span ng-show="rc.thirdForm.needsAttention(thirdForm.password)"><i class="fa fa-exclamation-triangle"></i> {{'REQUIRED' | translate }}</span></label>
                                        <input class="form-control" type="password" ng-required="!editing" id="password" name="password" ng-model="rs.password" placeholder="{{'PASSWORD_PLACEHOLDER'|translate}}"/>
                                    </div>
                                    <div class="form-group col-sm-3" ng-class="{'has-error': rc.thirdForm.needsAttention(thirdForm.password2)}">
                                        <label class="control-label" for="password2">{{'VERIFY_PASSWORD' | translate}} <span ng-show="rc.thirdForm.needsAttention(thirdForm.password2)"><i class="fa fa-exclamation-triangle"></i> {{'REQUIRED' | translate }}</span></label>
                                        <input class="form-control" ng-model-options="{'debounce':1000}" type="password" ng-required="!editing || (editing && rs.password)" compare-to="rs.password" id="password2" name="password2" ng-model="rs.password2" placeholder="{{'PASSWORD_VERIFY_PLACEHOLDER'|translate}}"/>
                                            <div ng-show="rc.thirdForm.needsAttention(thirdForm.password2)" class="form-control-static" ng-class="{'has-error': rc.thirdForm.needsAttention(thirdForm.password2)}" translate>PASSWORDS_MUST_MATCH</div>
                                    </div>
                                    <div class="form-group col-sm-4" ng-class="{'has-error': rc.thirdForm.needsAttention(thirdForm.password_hint)}">
                                        <label class="control-label" for="password_hint">{{'PASSWORD_HINT' | translate}} <span ng-show="rc.thirdForm.needsAttention(thirdForm.password_hint)"><i class="fa fa-exclamation-triangle"></i> {{'REQUIRED' | translate }}</span></label>
                                        <input class="form-control" required id="password_hint" name="password_hint" ng-model="rs.password_hint" placeholder="{{'PASSWORD_HINT_PLACEHOLDER'|translate}}"/>
                                    </div>
                                </div>
                            <!--</div>-->
                        </form>

                        <form class="tab-pane" id="last" name="lastForm" novalidate autocomplete="on" rc-submit="submit()" rc-step>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {{ rs.name }}
                                </div>
                                <div class="panel-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-5">
                                                <strong>
                                                    <p><span translate="{{rs.rtype.key}}"></span>  <i ng-class="{'fa fa-plane': rs.flight.key == 'YES', 'fa fa-car': rs.flight.key == 'NO'}"></i></p>
                                                    <p>
                                                    <span translate="{{rs.round_trip.key}}"></span>
                                                    <span translate="{{rs.direction.key}}"></span>
                                                    <span class="orange">{{rs.event.name}}</span> <span translate="{{rs.direction.reverse_key}}"></span><br/>
                                                    <span class="orange">{{rs.location.text}}</span>
                                                    </p>
                                                </strong>

                                                <div ng-show="rs.flight.key == 'YES' && rs.rtype.key == 'OFFER' && rs.riders_baggage_weight"><i class="glyphicon glyphicon-plane"></i> <strong translate>IMPORTANT_FLIGHT_INFORMATION</strong>
                                                    <ul>
                                                        <li><span translate>BAGGAGE_WEIGHT</span>: {{rs.riders_baggage_weight|metric:main.preferredMassUnit}} <a style="display:inline-block; font-decoration:none;" ng-click="main.swapMassUnit()">{{main.preferredMassUnit}}</a></li>
                                                    </ul>
                                                </div>

                                                <div id="dates">
                                                    <div ng-show="rs.earliest_departure"><p><i class="fa fa-calendar"></i> <span translate>DEPART</span>: <strong>{{rs.earliest_departure | amDateFormat:"LL"}}</strong></p></div>
                                                    <div ng-if="rs.round_trip.id == 1">
                                                        <p><i class="fa fa-calendar"></i> <span translate>RETURN</span>: <strong>{{rs.earliest_return | amDateFormat:"LL"}}</strong></p>
                                                    </div>
                                                </div>

                                                <div id="riders-display"><p><i class="fa fa-user"></i> <span translate>PASSENGERS</span>: <strong ng-if="rs.riders">{{rs.riders | number}}</strong><strong ng-if="!rs.riders" translate>NO_PASSENGERS</strong></p></div>
                                                <div id="hauling-display"><p><i class="fa fa-truck"></i> <span translate>HAULING</span>: <strong>{{rs.hauling.key | translate}}</strong></p></div>

                                                <div id="preferences" class="">
                                                    <ul class="list-unstyled icons">
                                                        <li ng-show="smokingPref == 0 || smokingPref == 1"><i class="fa fa-hand-o-right"></i> {{main.smokingOptions[smokingPref].key | translate}}</li>
                                                        <li ng-show="accommodateDisabled == '1'"><i class="fa fa-hand-o-right"></i> {{main.disabledOption.key | translate}}</li>
                                                        <li ng-show="openMinded == '1'"><i class="fa fa-hand-o-right"></i> {{main.openMindedOption.key | translate }}</li>
                                                    </ul>
                                                </div>

                                                <div id="contact_box" class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="media">
                                                            <div class="media-left pull-left">
                                                                <img class="gravatar pull-left" gravatar-secure="true" gravatar-src="rs.contact_email" gravatar-size="80" tooltip-html-unsafe="{{'GRAVATAR_TIP'|translate}}" gravatar-default="monsterid">
                                                            </div>
                                                            <div class="media-body">
                                                                <span>{{rs.contact_name}}</span><br/>
                                                                <span>{{rs.contact_email}}</span><br/>
                                                                <i ng-show="rs.contact_phone" class="fa fa-mobile-phone"></i>&nbsp;{{rs.contact_phone}}<br/>
                                                                <span ng-show="rs.contact_phone && rs.sms_notify">SMS: <i class="fa fa-check"></i></span>
                                                            </div>
                                                        </div>
                                                        <p ng-hide="main.kiosk"><a tabindex="-1" target="_blank" href="http://gravatar.com/" translate>GRAVATAR_CHANGE</a> (<em class="small" translate>GRAVATAR_OPTIONAL</em>)</p>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="col-xs-12 col-sm-5">
                                                <div id="public-contact-info" class="panel panel-default">
                                                    <div class="panel-heading" translate>PUBLIC_CONTACT_INFO</div>
                                                    <div ng-class="{'panel-body text-muted': !rs.contact_info, 'panel-body':rs.contact_info}">{{rs.contact_info || ""}}</div>
                                                </div>
                                                <div id="description" class="panel panel-default">
                                                    <div class="panel-heading" translate>DESCRIPTION</div>
                                                    <div ng-class="{'panel-body text-muted': !rs.description, 'panel-body description-wrap':rs.description}">{{rs.description || ""}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <div class="row ">
                <div class="col-xs-12">
                        <div class="form-group">
                            <span class="pull-left">
                                <a class="btn btn-primary" href data-loading-text="Please Wait..." ng-click="rc.addWizard.forward()"
                                   ng-show="rc.addWizard.currentIndex < rc.addWizard.navigationLength" translate>CONTINUE</a>
                                <a class="btn btn-primary" href ng-click="rc.addWizard.forward()"
                                   ng-show="rc.addWizard.currentIndex == rc.addWizard.navigationLength" translate>SUBMIT</a>
                                <a ng-if="rc.addWizard.currentIndex==0" href class="btn" back-button translate>BACK</a>
                                <a class="btn" ng-click="rc.addWizard.backward()"
                                   ng-show="rc.addWizard.currentIndex > rc.addWizard.firstIndex" translate>BACK</a>
                                /&nbsp;<a href class="btn" ng-click="cancel()" translate>CANCEL</a>
                                <span class="pager">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
