<navbar current-tab=""></navbar>
<div id="detail-page" class="container">
    <div ng-show="main.event" class="row">
        <div class="col-xs-12  event-header-col">
            <div event-link event="main.event"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row whitepage">
                <div class="col-xs-12">
                    <div id="outer-panel" class="panel panel-default">
                        <div id="detail-commands" class="panel-heading">
                            {{rs.name}}
                            <div  ng-show="main.user.obj_id == rs.id" class="btn-group btn-group-sm pull-right">
                                <button class="btn btn-small btn-default" ng-click="delete('sm')"><i class="glyphicon glyphicon-remove"></i><span class="hidden-xs"> {{'DELETE' | translate}}</span></button>
                                <button class="btn btn-small btn-default" ng-click="filled('sm')"><span ng-class="{'text-danger':rs.full}"><i class="glyphicon glyphicon-check"></i><span class="hidden-xs"> {{ 'FILLED' | translate}}</span></span></button>
                                <button class="btn btn-small btn-default" ng-click="edit()"><i class="glyphicon glyphicon-edit"></i><span class="hidden-xs"> {{'EDIT' | translate}}</span></button>
                                <button class="btn btn-default" ng-click="showMessages()"><i class="glyphicon glyphicon-envelope"></i><span class="hidden-xs"> {{'CHECK_MESSAGES' | translate}}</span></button>
                                <button class="btn btn-default" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i><span class="hidden-xs"> {{'LOGOUT' | translate }}</span></button>
                            </div>
                            <div ng-show="!main.user || main.user.obj_id != rs.id" class="btn-group-sm pull-right">
                                <span class="small text-muted hidden-xs hidden-sm" translate>IS_THIS_YOUR_POST</span> <button ng-click="openLoginModal()" class="btn btn-default"><i class="glyphicon glyphicon-log-in"></i> {{'LOGIN' | translate}}</a></button>
                            </div>
                        </div>
                        <div class="panel-body detail-info">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12 col-sm-12">

                                        <p><strong><span translate="{{rs.rtype.key}}"></span>  <i ng-class="{'fa fa-plane': rs.flight == true, 'fa fa-car': rs.flight == false}"></i></strong></p>
                                        <p>
                                            <strong>
                                                <span translate="{{rs.round_trip.key}}"></span>
						<span translate="{{rs.direction.key}}"></span>
						<span class="highlight">{{rs.event.name}}</span>
						<span translate="{{rs.direction.reverse_key}}"></span>
                                                <span class="highlight">{{rs.location.city.std_name||rs.location.airport.std_name}}</span>
                                            </strong>
                                            <span id="directions" ng-hide="rs.flight || main.kiosk">
                                                <span id="map-canvas">
                                                    <a ng-show="rs.direction.key=='FROM'" target="_blank" href="https://maps.google.com/?saddr={{rs.event.location.city.std_name}}&daddr={{rs.location.city.std_name}}&">(<i translate>DIRECTIONS</i>)</a>
                                                    <a ng-show="rs.direction.key=='TO'" target="_blank" href="https://maps.google.com/?saddr={{rs.location.city.std_name}}&daddr={{rs.event.location.city.std_name}}&">(<i translate>DIRECTIONS</i>)</a>
                                                </span>
                                            </span>
                                        </p>

                                        <!--<p><strong>{{ rs.rtype.key | translate }}-->
                                            <!--{{ rs.round_trip.key | translate }}-->
                                            <!--<span ng-if="rs.flight" translate>FLIGHT</span><span ng-if="!rs.flight" translate>RIDE</span><span>{{rs.direction.key|translate|lowercase}}&nbsp;<em>{{rs.event.name}}</em></span><span>{{rs.direction.reverse_key|translate|lowercase}}</span><span>{{rs.location.city.std_name||rs.location.airport.std_name}}</span>-->
                                        <!--</strong>-->
                                        <!--<span id="directions" ng-hide="rs.flight">-->
                                            <!--<span id="map-canvas">-->
                                                <!--<a ng-show="rs.direction.key=='FROM'" target="_blank" href="https://maps.google.com/?saddr={{rs.event.location.city.std_name}}&daddr={{rs.location.city.std_name}}&">(<i translate>DIRECTIONS</i>)</a>-->
                                                <!--<a ng-show="rs.direction.key=='TO'" target="_blank" href="https://maps.google.com/?saddr={{rs.location.city.std_name}}&daddr={{rs.event.location.city.std_name}}&">(<i translate>DIRECTIONS</i>)</a>-->
                                            <!--</span>-->
                                        <!--</span>-->
                                        <!--</p>-->
                                        <p class="text-danger" ng-show="rs.full"><strong><i class="fa fa-check"></i> <span translate>FILLED</span></strong></p>


                                        <!--<div ng-show="rs.full">This <span ng-if="rs.flight">{{'FLIGHT' | translate | lowercase}}</span><span ng-if="!rs.flight">ride</span> is <strong>full</strong>.</div>-->

                                        <div ng-show="rs.flight && rs.rtype.key=='OFFER' && rs.riders_baggage_weight" id="flight"><i class="glyphicon glyphicon-plane"></i> <strong translate>IMPORTANT_FLIGHT_INFORMATION</strong>
                                            <ul>
                                                <li><span translate>BAGGAGE_WEIGHT</span>: {{rs.riders_baggage_weight|metric:main.preferredMassUnit}} <a style="display:inline-block; font-decoration:none;" ng-click="main.swapMassUnit()">{{main.preferredMassUnit}}</a></li>
                                            </ul>
                                        </div>

                                        <div id="dates">
                                            <div ng-show="rs.earliest_departure"><p><i class="fa fa-calendar"></i> <span translate>DEPART</span>: <strong>{{rs.earliest_departure | amDateFormat:"LL"}}</strong></p></div>
                                            <div ng-if="rs.round_trip.id == 1">
                                                <p><i class="fa fa-calendar"></i> <span translate>RETURN</span>: <strong>{{rs.earliest_return | amDateFormat:"LL"}}</strong></p>
                                            </div>
                                        </div>
                                        <div id="riders"><p><i class="fa fa-user"></i> <span translate>PASSENGERS</span>: <strong ng-if="rs.riders">{{rs.riders | number}}</strong><strong ng-if="!rs.riders" translate>NO_PASSENGERS</strong></p></div>
                                        <div id="hauling"><p><i class="fa fa-truck"></i> <span translate>HAULING</span>: <strong>{{rs.hauling.key | translate}}</strong></p></div>


                                        <div id="preferences" class="">
                                            <ul class="list-unstyled icons"> <!-- can remove this filter after old data is going -->
                                                <li ng-repeat="pref in rs.preferences | filter:'!TRANSLATION_KEY'"><i class="fa fa-hand-o-right"></i> {{pref.key | translate}}</li>
                                            </ul>
                                        </div>

                                        <div id="contact" class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="media">
                                                    <div class="media-left pull-left">
                                                        <img class="gravatar" gravatar-secure="true" gravatar-src-once="rs.contact_email" gravatar-size="100" gravatar-default="monsterid">
                                                    </div>
                                                    <div style="display:inline" class="media-body" >
                                                        <div ng-style="'margin-top:2em'"><strong>{{rs.contact_name}}</strong></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="rs.contact_info" class="panel panel-default">
                                            <div class="panel-body">
                                                <p class="contact-info-heading" translate>PUBLIC_CONTACT_INFO</p>
                                                <p><q lang="{{main.preferredLanguage}}">{{rs.contact_info}}</q></p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="col-md-8 col-xs-12 col-sm-12">
                                        <div ng-if="main.user.obj_id == rs.id" class="xcol-xs-12" ng-if="main.messages && main.messages.length == 0">
                                            <h4 translate="PLURAL_MESSAGES" translate-values="{COUNT: main.messages.length}" translate-interpolation="messageformat"></h4>


                                            <div ng-if="main.messages && main.messages.length >= 1">
                                                <uib-accordion id="detail-messages" close-others="false">
                                                    <uib-accordion-group ng-repeat="msg in main.messages" is-open="msg.open">
                                                        <uib-accordion-heading>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-3" >
                                                                    <i ng-class="{'fa fa-caret-down':main.messages[$index].open,'fa fa-caret-right':!main.messages[$index].open }"></i>
                                                                    {{msg.contact_name}}
                                                                </div>
                                                                <div class="col-xs-12 col-sm-3">
                                                                    {{msg.created | amDateFormat:"lll"}}
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6">
                                                                    {{msg.message | truncate:50}}
                                                                </div>
                                                            </div>
                                                        </uib-accordion-heading>
                                                        <div class="email-message">
                                                        <div class="row"><div class="email-column-1 col-xs-3 col-sm-2" translate>NAME</div><div class="col-xs-12 col-sm-8">{{msg.contact_name}}</div></div>
                                                        <div class="row"><div class="email-column-1 col-xs-3 col-sm-2" translate>EMAIL</div><div class="col-xs-12 col-sm-8"><a ng-href="mailto:{{msg.contact_email}}">{{msg.contact_email}}</a></div></div>
                                                        <div class="row"><div class="email-column-1 col-xs-3 col-sm-2" translate>PHONE</div><div class="col-xs-12 col-sm-8"><a ng-href="tel:{{msg.contact_phone}}">{{msg.contact_phone}}</a></div></div>
                                                        <div class="row"><div class="email-column-1 col-xs-3 col-sm-2" translate>CONTACT</div><div class="col-xs-12 col-sm-8">{{msg.contact_info}}</div></div>
                                                        <div class="row"><div class="email-column-1 col-xs-3 col-sm-2" translate>MESSAGE</div><div class="col-xs-12 col-sm-8">{{msg.message}}</div></div>
                                                        </div>
                                                    </uib-accordion-group>
                                                </uib-accordion>
                                            </div>
                                        </div>
                                        <div id="description" class="panel panel-default">
                                            <div class="panel-heading" translate>DESCRIPTION</div>
                                            <div ng-class="{'panel-body text-muted': !rs.description, 'panel-body description-wrap':rs.description}">{{rs.description}}</div>
					    <p ng-hide="main.kiosk" class="text-muted pull-right" ng-bind-html="'NEED_TRANSLATION' | translate"></p>
                                        </div>
                                    </div>
                                </div>
                        <div class="row">
                            <div class="col-xs-12">
				<a ng-click="openContactModal()" class="btn btn-primary" translate>CONTACT</a>
                                <a href class="btn btn-default" back-button translate>BACK</a>
				<div class="text-muted pull-right">
					<span translate>CREATED</span>
					<span uib-tooltip="{{rs.created | amDateFormat:'LLLL'}}" am-time-ago="rs.created"></span></div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
