<navbar current-tab=""></navbar>
<div class="container">
    <div ng-show="main.event" class="row">
        <div class="col-xs-12  event-header-col">
            <div event-link event="main.event"></div>
        </div>
    </div>
    <div class="row whitepage">
        <div class="col-xs-12">
            <h4 translate>FAILURE</h4>
            <div class="row">
                <div class="col-xs-12">
                    <p translate>ERROR_MSG</p>
                    <p ng-if="errorMsgKey" translate>{{errorMsgKey}}</p>
                </div>
            </div>
        </div>
    </div>
</div>