<header>
    <img ng-if="main.event.header_image" ng-src="{{main.event.header_image}}" class="bg-image img-responsive">
    <img ng-if="!main.event.header_image" ng-src="{{ '/static/rideshare_frontend/img/default_header.jpg' }}" class="bg-image img-responsive">

    <a tabindex="-1" class="gohome" href="https://burningman.org/">
        <div id="logo-wrapper">
            <img ng-src="{{ '/static/rideshare_frontend/img/burning-man-logo.png' }}" alt="Burning Man Logo" width="300px" height="42px">
        </div>
    </a>
    <div id="emblem" class="hidden-xs">
        <div>
            <a tabindex="-1" href="/">
                <img ng-cloak class="ng-cloak" ng-src="{{ '/static/rideshare_frontend/img/rideshare_logo.png' }}" alt="Burning Man Rideshare Logo"/>
            </a>
        </div>
    </div>
</header>
