<navbar current-tab="EventHome"></navbar>
<div class="container" >
    <div class="row">
        <div class="col-xs-12">
            <div event-link event="main.event" nolink="true"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-11 col-md-7">
                    <span class="date">
                        <span>{{main.event.start_date | amDateFormat:"LL"}}</span>
                        <span ng-show="main.event.date_difference > 24"> &ndash; {{main.event.end_date | amDateFormat:"LL"}}</span>
                        <span class="text-muted" am-time-ago="main.event.start_date"></span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-11 col-md-7">
			<div class="well description" ng-show="main.event.description && !main.kiosk"><span ng-bind-html="main.event.description | to_trusted"></span><br />
                        <a target="_blank" href="{{ main.event.url }}" ng-show="main.event.url"><span translate>GO_TO_SITE</span></a></span>
                    </div>
                </div>
            </div>
            <hr>
            <!--<h4 ng-if="main.event"><span translate>GOING_TO</span>-->
                <!--<a ng-show="main.region.event_set.length > 1" href="#" editable-select="main.event" buttons="no" e-ng-options="ev as ev.name for ev in main.region.event_set">{{main.event.name}}?</a>-->
                <!--<span ng-show="main.region.event_set.length <= 1">{{main.event.name}}?</span>-->
            <!--</h4>-->
            <!--<p translate translate-values="{location:main.event.location.name}">ITS_IN</p>-->
            <!--<p translate="BEGINS_AND_ENDS" translate-values="{ start_date:main.event.start_date, end_date:main.event.end_date}"></p>-->

            <div class="row">
                <div class="col-xs-12 col-sm-11 col-md-7">
                    <a ui-sref="create" class="biglink">
                        <span translate>CREATE</span>
                        <span><i class="fa fa-chevron-right"></i></span>
                    </a>
                    <a ui-sref="search" class="biglink">
                        <span translate>SEARCH</span>
                        <span><i class="fa fa-chevron-right"></i></span>
                    </a>
                </div>
                <div class="col-md-4 col-md-offset-1 col-sm-11 col-xs-12">
                    <div class="well">
                        <div class="activity-table">
                            <ng-include src="'/static/rideshare_frontend/partials/activity-table.html'"></ng-include>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="row">-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="biglink">-->
                        <!--<a ui-sref="create">-->
                            <!--<div class="clickable">-->
                                <!--<span translate>CREATE</span>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<i class="fa fa-chevron-right"></i>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-sm-12">-->
                    <!--<div class="biglink">-->
                        <!--<a ui-sref="search">-->
                            <!--<span class="clickable">-->
                                <!--<span translate>SEARCH</span>-->
                            <!--</span>-->
                            <!--<div>-->
                                <!--<i class="fa fa-chevron-right"></i>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
        </div>

    </div>
</div>
