<div class="center-block" ng-controller="HomeController">
    <div class="container display" >
        <navbar current-tab="Home"></navbar>

        <div class="row">
            <div class="col-md-8">
                <h3>Welcome to the new Regional Rideshare!</h3>
                <p>Want to share a ride to <strong>{{main.event.name}}</strong>?</p>
                <ul>
                    <li>Go Green!</li>
                    <li>Save money!</li>
                    <li>Make new friends!</li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><strong>Important Info Here</strong></div>
                    <div class="panel-content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
