<navbar current-tab="FAQ"></navbar>
<div class="container">
    <div ng-show="main.event" class="row">
        <div class="col-xs-12  event-header-col">
            <div event-link event="main.event"></div>
        </div>
    </div>
    <div class="row whitepage">
        <div class="col-xs-12">
            <h4 translate>FAQ</h4>
            <div class="row">
                <div class="col-md-8">
                    <uib-accordion id="faq-accordion" close-others="true" >
                        <uib-accordion-group ng-repeat="faq in main.faqs">
                            <uib-accordion-heading>
                                <span ng-bind-html="faq.question"></span>
                            </uib-accordion-heading>
                            <p ng-bind-html="faq.answer"></p>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>
        </div>
    </div>
</div>
