<navbar current-tab="help"></navbar>
<div class="container" >
    <div ng-show="main.event" class="row">
        <div class="col-xs-12  event-header-col">
            <div event-link event="main.event"></div>
        </div>
    </div>
    <div class="row whitepage">
        <div class="col-xs-12">
            <h4 translate>HELP</h4>
            <div class="row">
                <div class="col-xs-12">
                    <div id="send-message" class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" translate>SEND_A_MESSAGE</h3>
                        </div>
                        <div class="panel-body">
                            <form class="simple-form form-group-sm" novalidate id="commentForm" name="commentForm">
                                <div class="form-group">
					<label for="email">{{'EMAIL' | translate}}
                                        <span class='has-error' ng-show="commentForm.email.$touched">
                                            <span ng-show="commentForm.email.$error.required" ><i class="fa fa-exclamation-triangle" translate>REQUIRED</i></span>
                                            <span ng-show="commentForm.email.$error.email" ><i class="fa fa-exclamation-triangle" translate>VALID_EMAIL_REQUIRED</i></span>
                                        </span>
                                    </label>
                                    <input type="email"
                                           autocomplete="email"
                                           autofocus
                                           class="form-control input-small"
                                           id="help_email"
                                           name="email"
                                           placeholder="{{'MY_EMAIL'|translate}}"
                                           ng-model="main.commentForm.email"
                                           required
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="help_subject">{{'SUBJECT' | translate}}
                                        <span class='has-error' ng-show="commentForm.help_subject.$touched">
                                            <span ng-show="commentForm.help_subject.$error.required" ><i class="fa fa-exclamation-triangle" translate>REQUIRED</i></span>
                                        </span>
                                    </label>
                                    <input type="text"
                                           autocomplete="off"
                                           class="form-control input-small"
                                           id="help_subject"
                                           name="help_subject"
                                           placeholder="{{'MY_SUBJECT'|translate}}"
                                           ng-model="main.commentForm.subject"
                                           required
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="help_message">{{'MESSAGE' | translate}}
                                        <span class='has-error' ng-show="commentForm.help_message.$touched">
                                            <span ng-show="commentForm.help_message.$error.required"><i class="fa fa-exclamation-triangle" translate>REQUIRED</i></span>
                                        </span>
                                    </label>
                                    <textarea class="form-control input-small"
                                          inputmode="latin-prose"
                                          id="help_message"
                                          name="help_message"
                                          rows="5"
                                          placeholder=""
                                          ng-model="main.commentForm.message"
                                          required></textarea>
                                </div>
                                <button ng-disabled="commentForm.$invalid || isUnchanged(main.commentForm)" type="submit" class="btn btn-primary btn-small pull-left" ng-click="submit(main.commentForm)"><span class="fa fa-send"></span> <span translate>SEND</span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
