<navbar current-tab="Home"></navbar>
<div class="container" >
    <div class="row">
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>

    <div class="row">
        <div ng-if="featuredEvent" class="col-sm-6">
            <a ui-sref="event({id: featuredEvent.slug})">
                <div class="img-overlay featured-img">
                    <a ui-sref="event({slug: featuredEvent.slug})">
                        <img ng-if="featuredEvent.image" ng-src="{{featuredEvent.image}}" class="img-responsive" />
                        <img ng-if="!featuredEvent.image" ng-src="http://placehold.it/550x340" class="img-responsive" />
                        <span class="chevron-overlay"><i class="fa fa-chevron-right"></i></span>
                        <div class="event-overlay"><div>{{featuredEvent.name}}</div>
                            <div ng-switch="featuredEvent.location.city.country.continent.code">
                                <small ng-switch-when="NA">{{featuredEvent.location.city.name}}, {{featuredEvent.location.city.region.code}}</small>
                                <small ng-switch-when="EU">{{featuredEvent.location.city.name}}, {{featuredEvent.location.city.country.name}}</small>
                                <small ng-switch-default>{{featuredEvent.location.city.name}}, {{featuredEvent.location.city.country.name}}</small>
                            </div>
                        </div>
                    </a>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <h3 id="welcome"><span translate>WELCOME_TO</span> {{ main.region.name }} <i ng-hide="main.region.slug == 'burning-man'">Regional</i> Rideshare!</h3>
            <div ng-bind-html="'WELCOME_MSG' | translate"></div>
            <p ng-hide="featuredEvent || currentEvents" ng-bind-html="'NO_EVENTS' | translate"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12" ng-repeat="event in currentEvents">
            <div class="img-overlay current-img">
                <a ui-sref="event({slug: event.slug})">
                    <img ng-if="event.image" ng-src="{{event.image}}" class="img-responsive" />
                    <img ng-if="!event.image" ng-src="http://placehold.it/550x340" class="img-responsive" />
                    <span class="chevron-overlay"><i class="fa fa-chevron-right"></i></span>
                    <div class="event-overlay"><div>{{event.name}}</div>
		        <div ng-switch="featuredEvent.location.city.country.continent.code">
                            <small ng-switch-when="NA">{{event.location.name}}, {{event.location.city.region.code}}</small>
                            <small ng-switch-when="EU">{{event.location.name}}, {{event.location.city.country.name}}</small>
                            <small ng-switch-default>{{event.location.name}}, {{event.location.city.country.name}}</small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <hr />
</div>
