<navbar current-tab="Search"></navbar>
<div class="container">
    <div ng-show="main.event" class="row">
        <div class="col-xs-12  event-header-col">
            <div event-link event="main.event"></div>
        </div>
    </div>
    <div id="search-page" class="row whitepage">
        <div class="col-xs-12">
            <h4 translate>SEARCH</h4>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row form-inline">
                        <div class="col-xs-12">
                            <div class="form-group search-page-large">
                                <span class="form-control-static"><span translate>IM_GOING</span>&nbsp;</span>
                                <label class="sr-only" for="tofrom" translate>DIRECTION</label>
                                <a class="btn btn-default" ng-click="main.swapToFrom()" id="tofrom" name="tofrom" translate>{{main.formParams.tofrom.key}}</a>
                                <span>{{main.event.name}}</span>
                                <a class="btn btn-default" ng-click="main.swapToFrom()" translate>{{main.formParams.tofrom.reverse_key}}</a>&nbsp;
                            </div>
                            <div id="search-dropdown-group" class="form-group">
                                <div class="vertical-align-top">
                                    <div class="vertical-align-top">
                                        <input class="form-control"
                                               required
                                               autofocus
                                               ng-model="main.formParams.location"
                                               uib-typeahead="loc as loc.text for loc in getLocation($viewValue) | filter:$viewValue | limitTo:10"
                                               typeahead-loading="loadingLocations"
                                               typeahead-editable="false"
                                               typeahead-min-length="3"
                                               typeahead-wait-ms="0"
                                               placeholder="{{main.formParams.tofrom.locationPlaceholder | translate}}">
                                        <span class="loading-icon"><i ng-show="loadingLocations" class="fa fa-refresh fa-spin"></i><i ng-show="!loadingLocations" class="fa fa-fw"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-style="'display:inline-block'">
                                <span class="small" ng-show="main.formParams.location">{{'SEARCH_RADIUS'|translate|uppercase}}
                                <!-- slider floor is 0 for rideshares, but 20k for flightshares so that it likely includes a city's airport -->
                                <slider
                                        ng-model="main.formParams.radius"
                                        ng-show="main.formParams.location"
                                        floor="{{main.formParams.flight.key == 'YES' ? 20 : 0}}"
                                        ceiling="250"
                                        step-width="10"
                                        precision="0"
                                        stretch="4"
                                        translate-fn="distanceFormat">
                                </slider>&nbsp;<a ng-click="main.preferredDistanceUnit = main.preferredDistanceUnit == 'km' ? 'mi' : 'km'">{{main.preferredDistanceUnit}}</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group filter-btn">
                                <a ng-show="main.formParams.showAdvanced" class="form-control-static" href ng-click="main.formParams.showAdvanced = !main.formParams.showAdvanced"><i class="fa fa-caret-right"></i> <span translate>FILTER</span></a>
                                <a ng-show="!main.formParams.showAdvanced" href ng-click="main.formParams.showAdvanced = !main.formParams.showAdvanced;"><i class="fa fa-caret-down"></i> <span translate>CLOSE</span> <span translate>FILTER</span></a>
                                <i ng-show="main.formParams.filterDirty" class="text-danger fa fa-filter"></i>
                                <i ng-show="main.formParams.filterDirty" uib-tooltip="{{'RESET_FILTER'|translate}}" ng-click="resetFilter()" class="text-danger fa fa-times"></i>
                                <span class="loading-icon"><i ng-class="{'fa fa-refresh fa-spin':loading, 'fa fa-fw':!loading}"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="row ng-hide" id="search-filter" ng-show="!main.formParams.showAdvanced">
                        <div class="col-xs-12">
                            <hr />
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-4 col-xs-12">
                                    <label class="" for="ridetype_id"><span translate>RIDE_TYPE</span>&nbsp;<sup><a class="fa fa-info-circle" tooltip-animation="true" uib-tooltip="{{'RIDE_TYPE_TIP'|translate}}"></a></sup></label>
                                    <div class="btn-group btn-group-sm" id="ridetype_id">
                                        <label ng-repeat="opt in main.constants.rideTypeOptions" class="btn btn-default" ng-model="main.formParams.rideType" uib-btn-radio="{{opt}}"><span translate>{{opt.key}}</span></label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-4 col-xs-12">
                                    <label class="xsr-only" for="direction_id"><span translate>ITINERARY</span></label>
                                    <div class="btn-group btn-group-sm" id="direction_id">
                                        <label ng-repeat="opt in main.constants.roundTripOptions" class="btn btn-default" ng-model="main.formParams.rt" uib-btn-radio="{{opt}}"><span translate>{{opt.key}}</span></label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-4 col-xs-12">
                                    <label class="xsr-only" for="hauling_id"><span translate>HAULING</span>&nbsp;<sup><a class="fa fa-info-circle" tooltip-animation="true" uib-tooltip="{{'HAULING_TIP'|translate}}"></a></sup></label>
                                    <div id="hauling_id" class="btn-group btn-group-sm">
                                        <label ng-repeat="opt in main.constants.haulingOptions" class="btn btn-default" ng-model="main.formParams.hauling" uib-btn-radio="{{opt}}" uncheckable><span translate>{{opt.key}}</span></label>
                                    </div>
                                </div>
                           </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-4 col-xs-12 form-inline">
                                    <label class="xsr-only" for="ride_id"><span translate>PASSENGERS</span>&nbsp;<sup><a class="fa fa-info-circle" tooltip-animation="true" uib-tooltip="{{'PASSENGERS_SEARCH_TIP'|translate}}"></a></sup></label>
                                    <span id="ride_id" class="btn-group btn-group-sm">
                                        <label ng-repeat="opt in main.constants.rideOptions" class="btn btn-default" ng-model="main.formParams.ride" uib-btn-radio="{{opt}}" uncheckable><span translate>{{opt.key}}</span></label>
                                    </span>
                                    <input ng-style="'display:inline-block;'" ng-disabled="main.formParams.disableNumPassengers" class="form-control input-sm" min="1" max="20" id="numPassengers" type="number" ng-required="false" ng-model="main.formParams.numPassengers" placeholder="{{'HOW_MANY' | translate}}">
                                </div>
                                <div class="form-group col-sm-6 col-md-4 col-xs-12">
                                    <label class="xsr-only" for="flight_id"><span translate>VEHICLE</span></label>
                                    <div id="flight_id" class="btn-group btn-group-sm">
                                        <label ng-disabled="!main.event.airport" ng-repeat="opt in main.constants.flightOptions" class="btn btn-default" ng-model="main.formParams.flight" uib-btn-radio="{{opt}}" uncheckable><span ng-if="opt.key!='ANY'" ng-class="{'fa fa-plane':opt.key=='YES', 'fa fa-car':opt.key=='NO'}"></span><span ng-if="opt.key=='ANY'" translate>ANY</span></label>
                                    </div>
                                </div>
                                <!--<div class="form-group col-sm-6 col-md-4 col-xs-12">-->
                                    <!--<label class="xsr-only" for="flight_id">&nbsp;</label>-->
                                    <!--&lt;!&ndash;<button class="btn btn-default btn-small" ng-click="resetFilter()" translate>RESET_FILTER</button>&ndash;&gt;-->
                                <!--</div>-->
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>


        <!--<div class="rs-search-result top-buffer" ui-scroll="item in datasource" buffer-size="3" padding="1.5"  is-loading="loading" top-visible-scope="topscope">-->
        <!--<div class="rs-search-result top-buffer" ng-repeat="item in items" >-->
            <!--<a ui-sref="detail({id: item.id})">{{item.name}}-->
                <!--</a>-->
            <!--</div>-->

            <div class="row">
                    <div class="col-xs-12">
                    <ul id="search-results-list" class="list-group">
                        <a ui-sref="detail({id: item.id, slug: main.event.slug})" class="list-group-item" ng-repeat="item in main.items">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-sm-5 col-xs-12">
                                        <img class="pull-left gravatar" gravatar-src-once="item.contact_email || item.contact_name" gravatar-size="{{main.gravatarSize}}" gravatar-default="monsterid" gravatar-secure="true" >
                                        <div><strong>{{item.name}}</strong> <span ng-show="false">Id:{{item.id}} --> {{item.created}}</span></div>
                                        <div ng-show="item.earliest_departure"><span translate>DEPART</span> <strong> {{item.earliest_departure | amDateFormat:'LL'}}</strong></div>
                                        <div ng-show="!item.earliest_departure">&nbsp;</div>
                                        <div ng-if="item.earliest_return && item.round_trip.key=='ROUND_TRIP'"><span translate>RETURN</span> <strong>{{item.earliest_return | amDateFormat:'LL'}}</strong></div>
                                        <div ng-if="!item.earliest_return">&nbsp;</div>
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <div>
                                            <i ng-class="{'fa fa-heart':item.rtype.key=='OFFER', 'fa fa-question-circle':item.rtype.key=='REQUEST'}"></i>
                                            <strong><span>{{item.rtype.key | translate}}</span></strong>
                                        </div>
                                        <div>
                                            <i ng-class="{'fa fa-long-arrow-right':item.round_trip.key=='ONE_WAY', 'fa fa-exchange':item.round_trip.key=='ROUND_TRIP'}"></i>
                                            <strong><span>{{item.round_trip.key | translate}}</span>
                                                <div ng-show="item.flight">
                                                    <span translate>{{item.direction.reverse_key}}</span> <span tooltip-placement="right"  tooltip-trigger="mouseenter" data-trigger="hover" uib-tooltip="{{item.location.region + ', ' + item.location.country}}">{{item.location.name || 'UNKNOWN_LOCATION' | translate }}</span>

                                                    <!--<span ng-if="item.direction.key=='TO'"><span translate>FROM</span> {{item.location.airport.std_name || '(unknown location)' }}</span>-->
                                                    <!--<span ng-if="item.direction.key=='FROM'"><span translate>TO</span> {{item.location.airport.std_name || '(unknown location)' }}</span>-->
                                                </div>
                                                <div ng-show="!item.flight">
                                                    <span translate>{{item.direction.reverse_key}}</span> <span tooltip-placement="right"  tooltip-trigger="mouseenter" data-trigger="hover" uib-tooltip="{{item.location.region + ', ' + item.location.country}}">{{item.location.name || 'UNKNOWN_LOCATION' | translate }}</span>
                                                </div>
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                        <div ng-class="item.ride.key=='NO' && 'text-muted'">
                                            <i ng-class="{'fa fa-user':item.riders==1, 'fa fa-users':item.riders>1}"></i>
                                            <!-- workaround a bug in angular-translate & messageformat.  Also item.riders is a string, convert to int.  Revert to directive when pull request is merged -->
                                            <span ng-show="item.riders > 0" translate="PLURAL_PASSENGERS" translate-values="{COUNT: item.riders}" translate-interpolation="messageformat"></span>
                                            <!--<span ng-show="item.riders > 0">{{ 'PLURAL_PASSENGERS' | translate:"{COUNT: item.riders - 0 + 1}":"messageformat" }}</span>-->

                                        </div>
                                        <div ng-if="item.hauling.key=='YES'"><i ng-class="'fa fa-truck'"></i> <span translate>HAULING</span></div>
                                        <div><i ng-class="{'fa fa-plane':item.flight,'fa fa-car':!item.flight}"></i> <span translate>VEHICLE</span></div>
                                        <!--<div class="text-muted"><span tooltip="{{item.created | amDateFormat:'LL'}}" translate>CREATED</span> <span am-time-ago="item.created"></span></div>-->
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ul>
                </div>
            </div>
            <h4 ng-if="!loading && !main.totalItems" translate>NO_RESULTS</h4>
        </div>
    </div>

    <div  class="row">
        <div ng-show="main.totalItems" class="col-md-12">
            <div class="center-block inline-block text-center">
                <div>
                    <span ng-show="loading && main.totalItems > 3" class="loading"><i class="fa fa-refresh fa-spin"></i> {{'LOADING'|translate}}&hellip;</span>
                    <span ng-hide="loading">{{'PAGE'|translate}} {{main.currentPage}} / {{numPages}}</span>
                </div>
                <uib-pager class="visible-xs-block visible-sm-block" total-items="main.totalItems" num-pages="numPages" next-text="{{'NEXT'|translate}}" previous-text="{{'PREVIOUS'|translate}}" ng-model="main.currentPage" ng-change="pageChanged()"></uib-pager>
                <uib-pagination class="hidden-xs hidden-sm" ng-class="{'disabled':!main.totalItems}" total-items="main.totalItems" next-text="{{'NEXT'|translate}}" previous-text="{{'PREVIOUS'|translate}}" first-text="{{'FIRST'|translate}}" last-text="{{'LAST'|translate}}"  boundary-links="true" rotate="false" max-size="5" ng-model="main.currentPage" ng-change="pageChanged()"></uib-pagination>
            </div>
        </div>
    </div>

</div>
