<navbar current-tab=""></navbar>
<div ng-if="opensearch_rs" class="container" >
    <div class="row whitepage">
        <div class="col-xs-12">
            <h4 translate>SEARCH_RESULTS_ALL_EVENTS</h4>
            <p ng-show="opensearch_rs.length == 0" translate>NO_RESULTS</p>
            <ul id="search-results-list" class="list-group">
                <a ui-sref="detail({id: rs.id, slug: rs.event.slug})" class="list-group-item" ng-repeat="rs in opensearch_rs">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-sm-5 col-xs-12">
                                <img class="pull-left gravatar" gravatar-secure="true" gravatar-src-once="rs.contact_email || rs.contact_name" gravatar-size="55" gravatar-default="monsterid">
                                <div><strong>{{rs.name}}</strong> <span ng-if="rs.name != rs.contact_name">({{rs.contact_name}})</span></div>
                                <div>{{rs.description}}</div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <span class="text-muted">{{rs.event.name}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </ul>
        </div>
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>
</div>
